.colorPalette {
  display: block;
  padding-top: 20px;
  padding-right: 10px;

  /** primary **/

  .color {
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    --wj-color-primary: #7252d3;
    --wj-color-complete: #0072ec;
    --wj-color-success: #19ad79;
    --wj-color-warning: #ffd945;
    --wj-color-danger: #d83c31;
    --wj-color-info: #3b4752;
    --wj-color-menu: #2b303b;
  }
}
