.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: var(--flex-direction);
}

.container-w-dropzones {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.reversed {
  --flex-direction: column-reverse;
}

.basic {
  --flex-direction: column;
}

.dragging {
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}

.reorder-item {
  transition: top 0.3s ease, left 0.3s ease;
}