.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wje-reorder-item.dragging {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) scale(1.15);
    pointer-events: none;
    z-index: 1000;
}
