/*
[ WJ File Upload Item ]
*/

:host {
    width: 100%;
}

.native-file-upload-item {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0 .5rem;
    grid-template-areas:
    "image name actions"
    "image size actions"
    "progress progress progress";
    padding: .5rem;
    border: 1px solid var(--wj-border-color);
    border-radius: var(--wj-border-radius-medium);
}

.image {
    grid-area: image;
    align-items: center;
    display: flex;
}

::slotted([slot="img"]) {
    --wj-img-border-radius: var(--wj-border-radius-medium) !important;
}

.name {
    grid-area: name;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.size {
    grid-area: size;
    display: flex;
}

.actions {
    grid-area: actions;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.file-progress { grid-area: progress; }

wj-icon {
    margin-right: .25rem;
}

wj-img {
    margin-right: .25rem;
}

.file-info > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

wj-slider {
    flex-basis: 100%;
    margin-top: .5rem;
}

::part(slider) {
    &::-webkit-slider-thumb {
        visibility: hidden;
    }

    &::-moz-range-thumb {
        visibility: hidden;
    }

    &::-ms-thumb {
        visibility: hidden;
    }
}

wj-img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: .25rem;
    border: 1px solid var(--wj-border-color);
    border-radius: var(--wj-border-radius-medium);
}