/*
[ WJ Img ]
*/

img {
    display: block;
    width: var(--wje-img-width, 100%);
    height: var(--wje-img-height, auto);
    max-width: 100%;
    object-fit: inherit;
    border-radius: var(--wje-img-border-radius, 0);
}
