/*
[ WJ Tooltip ]
*/

.native-tooltip {
  display: flex;
  align-items: center;
  padding: var(--wje-tooltip-spacing);
  color: var(--wje-tooltip-color);
  background-color: var(--wje-tooltip-background);
  font-weight: normal;
  font-size:  var(--wje-tooltip-font-size);
  border-radius: var(--wje-tooltip-border-radius);
  line-height: 1;
  box-sizing: border-box;
  box-shadow: var(--wje-tooltip-shadow);
}

::slotted([slot="start"]) {
  margin: 0 .3rem 0 0;
}

::slotted([slot="end"]) {
  margin: 0 0 0 .3rem;
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--wje-tooltip-arrow-color);
  transform: rotate(45deg);
}
