/*
[ WJ Dialog ]
*/

:host {
  --wje-dialog-width: 600px;
  --wje-dialog-height: 600px;
  --wje-dialog-border-radius: var(--wje-border-radius-large);
  --wje-dialog-border-width: var(--wje-border-width);
  --wje-dialog-border-style: var(--wje-border-style);
  --wje-dialog-border-color: var(--wje-border-color);
  --wje-dialog-margin-top: auto;
  --wje-dialog-margin-start: auto;
  --wje-dialog-margin-end: auto;
  --wje-dialog-margin-bottom: auto;
  --wje-dialog-padding: 1rem;
  --wje-dialog-padding-inline: 1rem;
  --wje-dialog-padding-top: 1rem;
  --wje-dialog-padding-bottom: 1rem;
  .close {
    margin-left: auto;
  }

  .modal-content {
    border-radius: 3px;
    box-shadow: none;
  }

  .dialog-header {
    position: relative;
    border-bottom: 0;
    padding-inline: var(--wje-dialog-padding);
    padding-top: var(--wje-dialog-padding);
    padding-bottom: var(--wje-dialog-padding);
    display: flex;
    align-items: center;
    span {
      font-family: var(--wje-font-family-secondary);
      font-size: 10.5px;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 0.06em;
      font-weight: 500;
      margin: 0;
      padding: 0;
      line-height: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      filter: alpha(opacity=40);
    }
  }

  .dialog-content {
    box-shadow: none;
    padding-inline: var(--wje-dialog-padding);
    white-space: normal;
    z-index: 1;
  }

  .dialog-footer {
    display: flex;
    justify-content: end;
    border-top: none;
    box-shadow: none;
    margin-top: 0;
    padding-inline: var(--wje-dialog-padding-inline);
    padding-top: var(--wje-dialog-padding-top);
    padding-bottom: var(--wje-dialog-padding-bottom);
  }
}

dialog::backdrop {
  opacity: var(--wje-backdrop-opacity);
  background-color: var(--wje-backdrop);
}

:host(.separator) .dialog-header:after {
  content: "";
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  left: var(--wje-dialog-padding);
  right: var(--wje-dialog-padding);
  position: absolute;
  bottom: 0;
}

:host {
  dialog {
    box-sizing: border-box;
    transition: all 0.2s !important;
    width: var(--wje-dialog-width);
    height: var(--wje-dialog-height);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    border-radius: var(--wje-dialog-border-radius);
    border-width: var(--wje-dialog-border-width);
    border-style: var(--wje-dialog-border-style);
    border-color: var(--wje-dialog-border-color);

    margin-top: var(--wje-dialog-margin-top);

    margin-bottom: var(--wje-dialog-margin-bottom);
    margin-inline: var(--wje-dialog-margin-start) var(--wje-dialog-margin-end);

    padding: 0;
  }
}

/*Top*/
:host(.stick-up) {
  --wje-dialog-width: 300px !important;
  --wje-dialog-height: fit-content;
  --wje-dialog-border-radius: 0 0 8px 8px;
  --wje-dialog-border-width: 0 1px 1px 1px;
  --wje-dialog-margin-top: 0;
  --wje-dialog-translate-from: translateY(-110%);
  --wje-dialog-template-to: translateX(0);
}

/*Cenetered*/
:host(.slide-up) {
  --wje-dialog-width: 300px !important;
  --wje-dialog-height: fit-content;
  --wje-dialog-border-radius: 8px;
  --wje-dialog-border-width: 1px;
  --wje-dialog-opacity-from: 0;
  --wje-dialog-translate-from: scale(.9);
  --wje-dialog-translate-to: scale(1);
}

/*Fullscreen*/
:host(.fill-in) {
  --wje-dialog-width: 100%;
  --wje-dialog-height: 100%;
  --wje-dialog-border-radius: 0 0 0 0 !important;
  --wje-dialog-border-width: 0;
  --wje-dialog-margin-top: 0;
  --wje-dialog-margin-start: 0;
  --wje-dialog-margin-end: 0;
  --wje-dialog-margin-bottom: 0;
  --wje-dialog-translate-from: scale(.95);
  --wje-dialog-translate-to: scale(1);
  dialog {
    min-width: var(--wje-dialog-width);
    min-height: var(--wje-dialog-height);
  }
}

/*Slide Left*/
:host(.slide-left) {
  --wje-dialog-width: 300px !important;
  --wje-dialog-height: 100% !important;
  --wje-dialog-border-radius: 0;
  --wje-dialog-border-width: 0 1px 0 0;
  --wje-dialog-margin-top: 0;
  --wje-dialog-margin-start: 0;
  --wje-dialog-margin-end: auto;
  --wje-dialog-margin-bottom: 0;
  dialog {
    min-height: var(--wje-dialog-height);
    --wje-dialog-translate-from: translateX(-110%);
    --wje-dialog-template-to: translateX(0);
  }
}

/*Slide Right*/
:host(.slide-right) {
  --wje-dialog-width: 300px !important;
  --wje-dialog-height: 100% !important;
  --wje-dialog-border-radius: 0;
  --wje-dialog-border-width: 0 0 0 1px;
  --wje-dialog-margin-top: 0;
  --wje-dialog-margin-start: auto;
  --wje-dialog-margin-end: 0;
  --wje-dialog-margin-bottom: 0;
  dialog {
    min-height: var(--wje-dialog-height);
    --wje-dialog-translate-from: translateX(110%);
    --wje-dialog-template-to: translateX(0);
  }
}

:host(.small) {
  --wje-dialog-width: 300px !important;
}

:host(.medium) {
  --wje-dialog-width: 500px !important;
}

:host(.large) {
  --wje-dialog-width: 600px !important;
}

:host(.ex-large) {
  --wje-dialog-width: 900px !important;
}

dialog[open] {
  animation: show .5s ease normal;
}

@keyframes show{
  from {
    opacity: var(--wje-dialog-opacity-from, 1);
    transform: var(--wje-dialog-translate-from);
  }
  to {
    opacity: 1;
    transform: var(--wje-dialog-translate-to);
  }
}