@import "../../scss/themes/net-basic/important.scss";

/*
[ Breadcrumbs ]
*/

:host {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}

:host([active]) {
  display: block;
}