@use '../../scss/var.scss' as var;
@use './grid.scss' as grid;

/*
[ Grid ]
*/

:host {
    width: 100%;
    flex-grow: 0;
}

/*
[ Row ]
*/

wje-row {
    display: flex;
    flex-wrap: wrap;
}

// Row

@if var.$enable-grid-classes {
    wje-row {
        @include grid.make-row();
    }
}

@if var.$enable-grid-classes {
    @include grid.make-grid-columns();
}
