@import "../../scss/themes/net-basic/important.scss";
@import "./grid.scss";

/*
[ Grid ]
*/

:host {
  display: block;
  flex: 1;
}

// Row

//@if $enable-grid-classes {
//  .row {
//    @include make-row();
//
//    > * {
//      @include make-col-ready();
//    }
//  }
//}

// Columns

@if $enable-grid-classes {
  @include make-grid-columns();
}

// Order

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  @debug "divider offset: #{$infix}";
  @each $key, $utility in $utilities {
    @include generate-utility($utility, $infix);
  }
}