/*
[ Menu Label ]
*/

:host {
  --wje-letter-spacing: 0.025rem;
  --wje-menu-label-color: var(--wje-color-contrast-6);
  --wje-padding-top: 0;
  --wje-padding-bottom: 0;
  --wje-padding-start: 1.5rem;
  --wje-padding-end: 1.5rem;
}

.native-menu-label {
  font-size: var(--wje-menu-label-font-size);
  display: inline-block;
  font-weight: var(--wje-menu-label-weight);
  letter-spacing: var(--wje-letter-spacing);
  color: var(--wje-menu-label-color);
  padding: var(--wje-padding-top) var(--wje-padding-start) var(--wje-padding-bottom) var(--wje-padding-end);
}
