.timeline-items {
    display: flex;
    flex-direction: column;
}

.native-timeline-item {
    display: flex;
    position: relative;
    padding: var(--wje-spacing-large);
    gap: var(--wje-spacing-medium);
}

.native-timeline-item:hover {
    background-color: #f0f8ff;
    border-color: #aaa;
}

.icon-container {
    position: absolute;
    display: flex;
    width: var(--wje-size-small); 
    height: var(--wje-size-small); 
    padding: var(--wje-spacing-2x-small);
    border-radius: var(--wje-border-radius-circle); 
    opacity: 0;
}

.content-container {
    height: fit-content;
    gap: var(--wje-spacing-small);
}

.date-time {
    font-size: var(--wje-font-size-small);
    line-height: var(--wje-line-height-denser);
    font-weight: var(--wje-font-weight-normal);
}

.event {
    margin: 0;
    font-size: var(--wje-font-size-large);
    font-weight: var(--wje-font-weight-bold);
    line-height: var(--wje-line-height-dense);
    letter-spacing: var(--wje-spacing-4x-small);
}

.additional-content {
    font-size: var(--wje-font-size-medium);
    margin-top: 1rem;
}

wje-status {
    position: relative;
    z-index: 1;
}
