.timeline-items {
    display: flex;
    flex-direction: column;
}

.native-timeline-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 16px 12px 16px 20px;
    gap: 12px;
}

.icon-container {
    width: fixed 18px;
    height: fixed 18px;
    padding: 4px 0px 0px 0px;
    gap: 4px;
    border-radius: 100px 0px 0px 0px;
    opacity: 0px;

}

.content-container {
    width: fill 864px;
    height: hug 42px;
    gap: 8px;
}

.date-time {
    font-size: 0.75rem;
    line-height: 17px;
    size: 12px;
    font-weight: 400;
}

.event {
    margin: 0;
    font-size: 1.2em;
    font-weight: 700;
    size: 14px;
    line-height: 21px;
    letter-spacing: -0.08px;
}

.additional-content {
    font-size: 1rem;
    margin-top: 1rem;
}

wje-status {
    position: relative;
    z-index: 1;
}

wje-card {
    border-color: #fff;
    box-shadow: none;
}