:host {
    --wje-card-content-padding: var(--wje-spacing-medium);
    margin-bottom: 0.5rem;
    display: block;
}

.native-timeline-item > wje-icon {
    color: var(--wje-color-contrast-5) !important;
}

.timeline-items {
    display: flex;
    flex-direction: column;
}

.native-timeline-item {
    display: flex;
    position: relative;
    padding: var(--wje-spacing-medium) var(--wje-spacing-medium) var(--wje-spacing-medium) var(--wje-spacing-large);
    gap: var(--wje-spacing-medium);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: var(--wje-border-radius-large);
}

:host .native-timeline-item:hover {
    background-color: var(--wje-color-contrast-1);
    border-color: var(--wje-color-contrast-3);
}

:host([active]) .native-timeline-item {
    background-color: var(--wje-color-primary-1);
    border-color: var(--wje-color-primary-3);
}

:host([active]) .native-timeline-item:hover {
    background-color: var(--wje-color-primary-2);
}

.icon-container {
    position: absolute;
    display: flex;
    width: var(--wje-size-small);
    height: var(--wje-size-small);
    padding: var(--wje-spacing-2x-small);
    border-radius: var(--wje-border-radius-circle);
    opacity: 0;
}

.content-container {
    height: fit-content;
    gap: var(--wje-spacing-small);
}

.event {
    margin: 0;
    font-size: var(--wje-font-size-large);
    font-weight: var(--wje-font-weight-bold);
    line-height: var(--wje-line-height-dense);
    letter-spacing: var(--wje-spacing-4x-small);
}

.additional-content {
    font-size: var(--wje-font-size-medium);
    margin-top: 1rem;
}

wje-status {
    position: relative;
    z-index: 1;
}

wje-relative-time {
    display: block;
    margin-bottom: var(--wje-spacing-2x-small);
}
