/*
[ WJ Radio Group ]
*/
:host {
    position: relative;
    .input-hidden {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
        z-index: -1;
    }
}

:host([invalid]) {
    color: var(--wje-input-color-invalid);
}

slot[name='error'] {
    display: none;
}

:host([invalid]) slot[name='error'] {
    display: block;
}

slot[name='error'] {
    display: none;
    max-width: 100%;
    min-width: auto;
    border-radius: 50px;
    top: 0;
    width: max-content;
    line-height: normal;
    position: static;
    background: transparent;
    padding: 0.25rem 0;
    left: auto;
    transform: none;
    color: var(--wje-input-color-invalid);
    font-size: 12px;
}

.wje-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

