/*
[ WJ Tree Item ]
*/

:host {
    .native-tree-item {
        position: relative;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        &.multiple {
            .item {
                border-radius: 0 !important;
            }
        }
        .item {
            display: flex;
            align-items: center;
            padding-inline: var(--wje-tree-item-padding-inline);
            padding-block: var(--wje-tree-item-padding-block);
            border-radius: var(--wje-tree-item-border-radius);
            background-color: var(--wje-tree-item-background);
            color: var(--wje-tree-item-color);

            &:hover {
                background-color: var(--wje-tree-item-background-hover);
                color: var(--wje-tree-item-color-hover);
            }

            .indent {
                display: block;
                width: 1em;
                flex-shrink: 0;
            }

            .toggle {
                font-size: var(--wje-tree-item-font-size);
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: content-box;
                width: var(--wje-tree-item-indent);
                height: var(--wje-tree-item-indent);
                flex-shrink: 0;
            }

            wje-checkbox {
                font-size: var(--wje-tree-item-font-size);
                margin: 0;
            }

            .content {
                font-size: var(--wje-tree-item-font-size);
            }

            slot {
                display: flex;
                align-items: center;
            }

            slot:not([name])::slotted(wje-icon) {
                margin-right: var(--wje-spacing-2x-small);
            }

            slot[name='end'] {
                margin-inline-start: auto;
            }
        }
        .children {
            font-size: calc(1rem + var(--wje-tree-item-indent, var(--wje-spacing-medium)));
            padding-inline-start: var(--wje-tree-item-indent, var(--wje-spacing-medium));
            display: none;
            &.open {
                font-size: var(--wje-tree-item-font-size);
                display: block;

                ::before {
                    content: '';
                    position: absolute;
                    top: var(--wje-tree-item-indent);
                    bottom: 5px;
                    left: calc(1em - (var(--wje-spacing-3x-small) * 2) - (var(--wje-tree-item-indent-guid-width) / 2));
                    border-inline-end: var(--wje-tree-item-indent-guid-width) solid var(--wje-border-color);
                    z-index: 1;
                }
            }
        }
    }

    .native-tree-item.expanded .item slot[name='expand'],
    .native-tree-item:not(.expanded) slot[name='collapse'] {
        display: none;
    }
}

:host([selected]) {
    .item {
        background-color: var(--wje-tree-item-background-selected);
        color: var(--wje-tree-item-color-selected);
    }
}
:host([slot-hover-visible]) {
    .item {
        &:hover {
            slot[name='start'], slot[name='end'] {
                visibility: visible;
            }
        }
        slot[name='start'], slot[name='end'] {
            visibility: hidden;
        }
    }
}
