/*!
* direction.scss
*/
/* Skeleton Variables */
.dropzone-wrapper {
  position: relative; }

/* CLASSIC */
.classic {
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.14);
  border-radius: 2px;
  padding: 5px 9px 4px;
  width: 100%;
  transition: background-color 0.2s ease;
  cursor: text;
  margin-bottom: 10px;
  overflow: hidden !important;
  height: 39px; }
  .classic .form-control {
    border: none;
    height: 25px;
    min-height: 25px;
    padding: 0;
    margin-top: -4px;
    background: none;
    box-shadow: none; }
  .classic .dz-message {
    display: none; }

/* GRAPHIC */
.graphic.dropzone, * {
  box-sizing: border-box; }

.graphic.dropzone {
  padding: 0;
  background: var(--color-primary-lighter);
  background-image: repeating-linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 50%, transparent 50%, transparent 100%), repeating-linear-gradient(to bottom, var(--color-primary) 0%, var(--color-primary) 50%, transparent 50%, transparent 100%);
  background-position: left top, left bottom, left top, right top;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 1px, 10px 1px, 1px 10px, 1px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .graphic.dropzone.dz-started {
    background-color: white; }
  .graphic.dropzone.dz-clickable {
    cursor: pointer; }
  .graphic.dropzone.dz-clickable * {
    cursor: default; }
  .graphic.dropzone.dz-clickable .dz-message, .graphic.dropzone.dz-clickable .dz-message * {
    cursor: pointer; }
  .graphic.dropzone.dz-started .dz-message {
    display: none; }
  .graphic.dropzone.dz-drag-hover {
    border-style: solid; }
  .graphic.dropzone.dz-drag-hover .dz-message {
    opacity: 0.5; }
  .graphic.dropzone .dz-message {
    text-align: center;
    margin: 2em 0; }
  .graphic.dropzone .dz-message .dz-button {
    position: relative;
    min-width: 48px;
    min-height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: var(--color-primary);
    color: #fff;
    border: none;
    padding: 0;
    line-height: 0;
    border-radius: 50%; }
  .graphic.dropzone .dz-message .dz-button:before {
    font-family: 'Font Awesome 6 Pro';
    content: "\f093";
    font-size: 1.5rem; }
  .graphic.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 2rem 0;
    padding: 1.5rem;
    height: 100%;
    width: calc(100% - 2px); }
  .graphic.dropzone .dz-preview:hover .dz-details {
    opacity: 1; }
  .graphic.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 20px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd);
    display: none; }
  .graphic.dropzone .dz-preview.dz-file-preview .dz-details {
    opacity: 1; }
  .graphic.dropzone .dz-preview.dz-image-preview {
    background: white; }
  .graphic.dropzone .dz-preview.dz-image-preview .dz-details {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
  .graphic.dropzone .dz-preview .dz-remove {
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none; }
  .graphic.dropzone .dz-preview .dz-remove:hover {
    text-decoration: underline; }
  .graphic.dropzone .dz-preview:hover .dz-details {
    opacity: 1; }
  .graphic.dropzone .dz-preview .dz-details {
    z-index: 20;
    opacity: 0;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    padding: 0 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    line-height: 150%; }
  .graphic.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 10px;
    font-size: 16px; }
  .graphic.dropzone .dz-preview .dz-details .dz-filename {
    white-space: nowrap;
    margin-bottom: 10px; }
  .graphic.dropzone .dz-preview .dz-details .dz-filename:hover span {
    border: 1px solid rgba(200, 200, 200, 0.8);
    background-color: rgba(255, 255, 255, 0.8); }
  .graphic.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    overflow: hidden;
    text-overflow: ellipsis; }
  .graphic.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
    border: 1px solid transparent; }
  .graphic.dropzone .dz-preview .dz-details .dz-filename span, .graphic.dropzone .dz-preview .dz-details .dz-size span {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 0.4em;
    border-radius: 3px; }
  .graphic.dropzone .dz-preview:hover .dz-image img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-filter: blur(8px);
    filter: blur(8px); }
  .graphic.dropzone .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    z-index: 10; }
  .graphic.dropzone .dz-preview .dz-image img {
    display: block; }
  .graphic.dropzone .dz-preview.dz-success .dz-success-mark {
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
  .graphic.dropzone .dz-preview.dz-error .dz-error-mark {
    opacity: 1;
    -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
  .graphic.dropzone .dz-preview .dz-success-mark, .graphic.dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px; }
  .graphic.dropzone .dz-preview .dz-success-mark svg, .graphic.dropzone .dz-preview .dz-error-mark svg {
    display: block;
    width: 54px;
    height: 54px; }
  .graphic.dropzone .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .graphic.dropzone .dz-preview:not(.dz-processing) .dz-progress {
    -webkit-animation: pulse 6s ease infinite;
    -moz-animation: pulse 6s ease infinite;
    -ms-animation: pulse 6s ease infinite;
    -o-animation: pulse 6s ease infinite;
    animation: pulse 6s ease infinite; }
  .graphic.dropzone .dz-preview .dz-progress {
    opacity: 1;
    height: 16px;
    margin: 0 auto;
    width: 80px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    overflow: hidden;
    position: relative; }
  .graphic.dropzone .dz-preview .dz-progress .dz-upload {
    background: #333;
    background: linear-gradient(to bottom, #666, #444);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out; }
  .graphic.dropzone .dz-preview.dz-error .dz-error-message {
    display: block; }
  .graphic.dropzone .dz-preview.dz-error:hover .dz-error-message {
    opacity: 1;
    pointer-events: auto; }
  .graphic.dropzone .dz-preview .dz-error-message {
    display: block;
    font-size: 13px;
    padding: 0.5em 1.2em;
    color: red;
    text-align: center; }

.dropzone-error {
  position: absolute;
  background: white;
  display: block;
  padding: 1rem;
  border: 1px solid #D83C31;
  border-radius: 5px;
  width: 250px;
  top: 1rem;
  left: calc(50% - 125px); }

/*# sourceMappingURL=styles.css.map */