/*
[ WJ Badge ]
*/

.native-badge {
  display: inline-block;
  text-shadow: none;
  font-family: var(--wje-font-family);
  font-weight: 600;
  background-color: var(--wje-color-contrast-3);
  font-size: 11px;
  line-height: 1;
  padding-block: var(--wje-badge-padding-block-start) var(--wje-badge-padding-block-end);
  padding-inline: var(--wje-badge-padding-inline-start) var(--wje-badge-padding-inline-end);
  color: var(--wje-color-contrast-8);
  border-radius: var(--wje-badge-border-radius);
}

.wje-color-primary {
  background-color: var(--wje-color-primary-11);
  color: var(--wje-color-contrast-0);
}

.wje-color-complete {
  background-color: var(--wje-color-complete-11);
  color: var(--wje-color-contrast-0);
}

.wje-color-success {
  background-color: var(--wje-color-success-11);
  color: var(--wje-color-contrast-0);
}

.wje-color-warning {
  background-color: var(--wje-color-warning-11);
  color: var(--wje-color-contrast-8);
}

.wje-color-danger {
  background-color: var(--wje-color-danger-11);
  color: var(--wje-color-contrast-0);
}

.wje-color-info {
  background-color: var(--wje-color-info-11);
  color: var(--wje-color-contrast-0);
}

.wje-color-contrast {
  background-color: var(--wje-color-contrast-11);
  color: var(--wje-color-contrast-8);
}

/*:host(.wje-color) {*/
/*  background-color: var(--wje-color-base) ;*/
/*  color: var(--wje-color-contrast);*/
/*}*/