:host {
  display: block;
  z-index: 1000;
  /* make css property for width height position  and if it is on top lef bottom right  */
}

.sliding-container-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.native-sliding-container {
  overflow: auto;
}
