/*
[ WJ Tab Group ]
*/

:host {
    --wje-tab-top: 0;
    --wje-tab-start: 0;
    --wje-tab-end: 0;
    --wje-tab-bottom: 0;
    width: 100%;
}
.native-tab-group {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    position: relative;
}

.native-tab-group > header {
    display: flex;
    flex-direction: column;

    & > nav {
        display: flex;
        align-items: center;
    }
}

.native-tab-group > section {
    width: 100%;

    & > article {
        scroll-snap-align: start;
        overflow-y: auto;
        overscroll-behavior-y: contain;
    }
}

/*TOP*/
:host([variant='top']) {
    --wje-tab-top: auto !important;
    --wje-tab-writing-mode: horizontal-tb;
    .native-tab-group {
        flex-direction: column;
    }
    nav {
        border-bottom: var(--wje-tab-group-nav-border);
    }
}

/*START*/
:host([variant='start']) {
    --wje-tab-start: auto !important;
    --wje-tab-writing-mode: vertical-rl;
    .native-tab-group {
        flex-direction: row;
    }
    nav {
        flex-direction: column;
        border-right: var(--wje-tab-group-nav-border);
    }
}

/*END*/
:host([variant='end']) {
    --wje-tab-writing-mode: vertical-rl;
    .native-tab-group {
        flex-direction: row-reverse;
    }
    nav {
        flex-direction: column;
        border-left: var(--wje-tab-group-nav-border);
    }
}

/*BOTTOM*/
:host([variant='bottom']) {
    --wje-tab-bottom: auto !important;
    --wje-tab-writing-mode: horizontal-tb;
    .native-tab-group {
        flex-direction: column-reverse;
    }
    nav {
        border-top: var(--wje-tab-group-nav-border);
    }
}

.dropdown-active {
    wje-button{
        &::part(native) {
            color: var(--wje-color-primary-8);
        }
    }
}