/*
[ WJ Card ]
*/

:host {
    width: 100%;
}

.native-card {
    background: var(--wje-card-background);
    color: var(--wje-card-color);
    margin: 0;
    box-shadow: var(--wje-card-shadow);
    border-color: var(--wje-card-border-color);
    border-style: var(--wje-card-border-style);
    border-width: var(--wje-card-border-width);
    border-radius: var(--wje-card-border-radius);
    font-family: var(--wje-font-family);
    font-size: var(--wje-font-size);
    line-height: var(--wje-line-height-normal);
    position: relative;
    width: 100%;
    word-wrap: normal;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*BG - TEXT*/
.native-card.wje-color-primary {
    background: var(--wje-color-primary-9);
    color: var(--wje-color-contrast-0);
    border-color: var(--wje-color-primary-9);
}

.native-card.wje-color-complete {
    background: var(--wje-color-complete-9);
    color: var(--wje-color-contrast-0);
    border-color: var(--wje-color-complete-9);
}

.native-card.wje-color-success {
    background: var(--wje-color-success-9);
    color: var(--wje-color-contrast-0);
    border-color: var(--wje-color-success-9);
}

.native-card.wje-color-warning {
    background: var(--wje-color-warning-9);
    color: var(--wje-color);
    border-color: var(--wje-color-warning-9);
}

.native-card.wje-color-danger {
    background: var(--wje-color-danger-9);
    color: var(--wje-color-contrast-0);
    border-color: var(--wje-color-danger-9);
}

.native-card.wje-color-info {
    background: var(--wje-color-info-9);
    color: var(--wje-color-contrast-0);
    border-color: var(--wje-color-info-9);
}

.native-card.wje-color-menu {
    background: var(--wje-color-contrast-9);
    color: var(--wje-color-contrast-0);
    border-color: var(--wje-color-contrast-9);
}
