/*
[ WJ Card ]
*/

:host {
  width: 100%;
}

.native-card {
  background-color: transparent;
  margin: 0;
  box-shadow: var(--wje-shadow-x-large);
  border-color: var(--wje-border-color);
  border-style: var(--wje-border-style);
  border-width: var(--wje-border-width);
  border-radius: var(--wje-border-radius-medium);
  font-family: var(--wje-font-family);
  font-size: var(--wje-font-size);
  line-height: var(--wje-line-height-normal);
  position: relative;
  width: 100%;
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*BG - TEXT*/
.native-card.wje-color-primary {
  background: var(--wje-color-primary-11);
  color: var(--wje-color-contrast-0);
}

.native-card.wje-color-complete {
  background: var(--wje-color-complete-11);
  color: var(--wje-color-contrast-0);
}

.native-card.wje-color-success {
  background: var(--wje-color-success-11);
  color: var(--wje-color-contrast-0);
}

.native-card.wje-color-warning {
  background: var(--wje-color-warning-11);
  color: var(--wje-color);
}

.native-card.wje-color-danger {
  background: var(--wje-color-danger-11);
  color: var(--wje-color-contrast-0);
}

.native-card.wje-color-info {
  background: var(--wje-color-info-11);
  color: var(--wje-color-contrast-0);
}

.native-card.wje-color-menu {
  background: var(--wje-color-contrast-11);
  color: var(--wje-color-contrast-0);
}