/*
[ WJ Split View ]
*/

:host {
  --wje-split-view-divider-area: 12px;
  --wje-split-view-divider-width: 4px;
  --wje-split-view-min: 0%;
  --wje-split-view-max: 100%;
  --wje-split-view-calc-a: 50%;
  --wje-split-view-calc-b: 50%;
  --wje-split-view-clamp-a: clamp(var(--wje-split-view-min), var(--wje-split-view-calc-a), var(--wje-split-view-max));
  --wje-split-view-clamp-b: clamp(var(--wje-split-view-min), var(--wje-split-view-calc-b), var(--wje-split-view-max));

  --wje-split-view-divider-background: var(--wje-border-color);
  --wje-split-view-divider-size: 4px;
  height: 100%;
  width: 100%;
}

::slotted([slot='start']),
::slotted([slot='end']) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

:host(:not([vertical])) ::slotted([slot='start']) {
  width: var(--wje-split-view-clamp-a);
}

:host(:not([vertical])) ::slotted([slot='end']) {
  width: var(--wje-split-view-clamp-b);
}

:host([vertical]) ::slotted([slot='start']) {
  height: var(--wje-split-view-clamp-a);
  width: 100%;
}

:host([vertical]) ::slotted([slot='end']) {
  height: var(--wje-split-view-clamp-b);
  width: 100%;
}

.native-split-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

:host([vertical]) .native-split-view {
  flex-direction: column;
}

.wje-divider {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: var(--wje-split-view-divider-background);
  height: 100%;
  width: var(--wje-split-view-divider-size);
  cursor: col-resize;
  &:after {
    display: flex;
    content: '';
    position: absolute;
    height: 100%;
    left: calc(var(--wje-split-view-divider-area) / -2 + var(--wje-split-view-divider-width) / 2);
    width: var(--wje-split-view-divider-area);
  }
}

:host([vertical]) .wje-divider {
  height: var(--wje-split-view-divider-size);
  width: 100%;
  cursor: row-resize;
  &:after {
    width: 100%;
    top: calc(var(--wje-split-view-divider-area) / -2 + var(--wje-split-view-divider-width) / 2);
    height: var(--wje-split-view-divider-area);
  }
}
