.timeline-container {
    position: relative;
}

.vertical-line {
    position: absolute;
    margin-left: var(--wje-spacing-x-large);
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--wje-color-info-3);
}
