/*
[ WJ Radio ]
*/

:host {
    display: block;
    margin-top: var(--wje-radio-margin-top);
    margin-bottom: var(--wje-radio-margin-bottom);
    margin-inline: var(--wje-radio-margin-inline);
    line-height: 100%;
    padding-left: 0;
    position: relative;

    label {
        display: flex;
        cursor: pointer;
        position: relative;
        padding-left: 1.5rem;
        min-width: 16px;
        min-height: 16px;
        margin-bottom: 0;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
        align-items: center;
        &:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            box-sizing: border-box;
            background-color: var(--wje-color-contrast-1);
            border: 1px solid var(--wje-color-contrast-4);
        }
    }
}

.native-radio {
    input[type='radio'] + label {
        &:before {
            border-radius: var(--wje-border-radius-circle);
            transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
        }
    }
    input[type='radio']:checked {
        & + label {
            &:before {
                border-color: var(--wje-color-contrast-6);
                border-width: 5px;
            }
        }
    }
    input[type='radio']:focus {
        & + label {
            color: var(--wje-color);
            &:before {
                outline: none !important;
                box-shadow: 0 0 0 0 #78c8fe;
            }
        }
    }

    input[type='radio'] {
        opacity: 0;
        position: absolute;
        top: 3px;
        width: 16px;
        height: 16px;
    }

    input[type='radio'][disabled] {
        & + label {
            cursor: not-allowed !important;
            color: var(--wje-color-contrast-9);
            opacity: 0.5;
            &:before {
                cursor: not-allowed !important;
            }
        }
    }
}

:host([placement='end']) {
    label {
        padding-left: 0;
        padding-right: 26px;

        &:before {
            right: 0;
            left: auto;
        }
    }

    input[type='checkbox']:checked {
        & + label {
            position: relative;

            &::after {
                position: absolute;
                right: 0;
                left: auto;
            }
        }
    }
}

/* Colors */

:host([color='primary']) input[type='radio']:checked + label:before {
    border-color: var(--wje-color-primary-9);
}

:host([color='complete']) input[type='radio']:checked + label:before {
    border-color: var(--wje-color-complete-9);
}

:host([color='success']) input[type='radio']:checked + label:before {
    border-color: var(--wje-color-success-9);
}

:host([color='warning']) input[type='radio']:checked + label:before {
    border-color: var(--wje-color-warning-9);
}

:host([color='danger']) input[type='radio']:checked + label:before {
    border-color: var(--wje-color-danger-9);
}

:host([color='info']) input[type='radio']:checked + label:before {
    border-color: var(--wje-color-info-9);
}
