/*
[ WJ Button ]
*/

/*PRIMARY*/
.wje-button-solid.wje-color-primary {
  background-color: var(--wje-color-primary-9);
  border-color: var(--wje-color-primary-9);
  color: var(--wje-color-contrast-0);
}

.wje-button-outline.wje-color-primary {
  background-color: var(--wje-color-primary-1);
  border-color: var(--wje-color-primary-9);
  color: var(--wje-color-primary-9);
}

/*COMPLETE*/
.wje-button-solid.wje-color-complete {
  background-color: var(--wje-color-complete-9);
  border-color: var(--wje-color-complete-9);
  color: var(--wje-color-contrast-0);
}

.wje-button-outline.wje-color-complete {
  background-color: var(--wje-color-complete-1);
  border-color: var(--wje-color-complete-9);
  color: var(--wje-color-complete-9);
}

/*SUCCESS*/
.wje-button-solid.wje-color-success {
  background-color: var(--wje-color-success-9);
  border-color: var(--wje-color-success-9);
  color: var(--wje-color-contrast-0);
}

.wje-button-outline.wje-color-success {
  background-color: var(--wje-color-success-1);
  border-color: var(--wje-color-success-9);
  color: var(--wje-color-success-9);
}

/*WARNING*/
.wje-button-solid.wje-color-warning {
  background-color: var(--wje-color-warning-9);
  border-color: var(--wje-color-warning-9);
  color: var(--wje-color-black);
}

.wje-button-outline.wje-color-warning {
  background-color: var(--wje-color-warning-1);
  border-color: var(--wje-color-warning-11);
  color: var(--wje-color-warning-11);
}

/*DANGER*/
.wje-button-solid.wje-color-danger {
  background-color: var(--wje-color-danger-9);
  border-color: var(--wje-color-danger-9);
  color: var(--wje-color-contrast-0);
}

.wje-button-outline.wje-color-danger {
  background-color: var(--wje-color-danger-1);
  border-color: var(--wje-color-danger-9);
  color: var(--wje-color-danger-9);
}

/*NEUTRAL*/
.wje-button-solid.wje-color-neutral {
  background-color: var(--wje-color-contrast-9);
  border-color: var(--wje-color-contrast-9);
  color: var(--wje-color-contrast-0);
}

.wje-button-outline.wje-color-neutral {
  background-color: var(--wje-color-contrast-1);
  border-color: var(--wje-color-contrast-9);
  color: var(--wje-color-contrast-9);
}

/*DEFAULT*/
.wje-button-solid.wje-color-default {
  background-color: var(--wje-color-contrast-0);
  border-color: var(--wje-color-contrast-3);
  color: var(--wje-color-contrast-11);
}

.wje-button-outline.wje-color-default {
  background-color: var(--wje-color-contrast-1);
  border-color: var(--wje-color-contrast-5);
  color: var(--wje-color-contrast-11);
}

:host {
  --wje-padding-top: .4rem;
  --wje-padding-start: .5rem;
  --wje-padding-end: .5rem;
  --wje-padding-bottom: .4rem;

  display: inline-flex;
  position: relative;
  width: auto;
  cursor: pointer;
  margin-inline: var(--wje-button-margin-inline);
}

:host(.wje-button-group-button) {
  display: block;
}

.native-button {
  font-family: var(--wje-font-family);
  font-size: var(--wje-font-size);
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: inherit;
  /*overflow: hidden;*/ /* Sposobovalo problemy s badge a tooltip */
  border-width: var(--wje-button-border-width);
  border-style: var(--wje-button-border-style);
  border-color: var(--wje-button-border-color);
  background-color: transparent;
  /*color: var(--wje-button-color);*/
  line-height: 1;
  contain: layout style;
  cursor: pointer;
  z-index: 0;
  box-sizing: border-box;
  appearance: none;
  margin: 0;
  border-radius: var(--wje-button-border-radius);
  padding-top: var(--wje-padding-top);
  padding-bottom: var(--wje-padding-bottom);
  padding-inline: var(--wje-padding-start) var(--wje-padding-end);
}

.native-button:hover {
  outline-style: solid;
  outline-width: var(--wje-button-outline-width);
  transition: outline-width .1s linear;
}

@media (any-hover: hover) {
  .wje-button-solid.wje-color-primary:hover {
    background-color: var(--wje-color-primary-9);
    border-color: var(--wje-color-primary-9);
    color: var(--wje-color-contrast-0);
    outline-color: var(--wje-color-primary-2);
  }

  .wje-button-outline.wje-color-primary:hover {
    background-color: var(--wje-color-primary-1);
    border-color: var(--wje-color-primary-9);
    color: var(--wje-color-primary-9);
    outline-color: var(--wje-color-primary-2);
  }

  .wje-button-solid.wje-color-complete:hover {
    background-color: var(--wje-color-complete-9);
    border-color: var(--wje-color-complete-9);
    color: var(--wje-color-contrast-0);
    outline-color: var(--wje-color-complete-2);
  }

  .wje-button-outline.wje-color-complete:hover {
    background-color: var(--wje-color-complete-1);
    border-color: var(--wje-color-complete-9);
    color: var(--wje-color-complete-9);
    outline-color: var(--wje-color-complete-2);
  }

  .wje-button-solid.wje-color-success:hover {
    background-color: var(--wje-color-success-9);
    border-color: var(--wje-color-success-9);
    color: var(--wje-color-contrast-0);
    outline-color: var(--wje-color-success-2);
  }

  .wje-button-outline.wje-color-success:hover {
    background-color: var(--wje-color-success-1);
    border-color: var(--wje-color-success-9);
    color: var(--wje-color-success-9);
    outline-color: var(--wje-color-success-2);
  }

  .wje-button-solid.wje-color-warning:hover {
    background-color: var(--wje-color-warning-9);
    border-color: var(--wje-color-warning-9);
    color: var(--wje-color-black);
    outline-color: var(--wje-color-warning-2);
  }

  .wje-button-outline.wje-color-warning:hover {
    background-color: var(--wje-color-warning-1);
    border-color: var(--wje-color-warning-11);
    color: var(--wje-color-warning-11);
    outline-color: var(--wje-color-warning-2);
  }

  .wje-button-solid.wje-color-danger:hover {
    background-color: var(--wje-color-danger-9);
    border-color: var(--wje-color-danger-9);
    color: var(--wje-color-contrast-0);
    outline-color: var(--wje-color-danger-2);
  }

  .wje-button-outline.wje-color-danger:hover {
    background-color: var(--wje-color-danger-1);
    border-color: var(--wje-color-danger-9);
    color: var(--wje-color-danger-9);
    outline-color: var(--wje-color-danger-2);
  }

  .wje-button-solid.wje-color-neutral:hover {
    background-color: var(--wje-color-contrast-9);
    border-color: var(--wje-color-contrast-9);
    color: var(--wje-color-contrast-0);
    outline-color: var(--wje-color-contrast-3);
  }

  .wje-button-outline.wje-color-neutral:hover {
    background-color: var(--wje-color-contrast-1);
    border-color: var(--wje-color-contrast-9);
    color: var(--wje-color-contrast-9);
    outline-color: var(--wje-color-contrast-3);
  }

  .wje-button-solid.wje-color-default:hover {
    background-color: var(--wje-color-contrast-0);
    border-color: var(--wje-color-contrast-3);
    color: var(--wje-color-contrast-11);
    outline-color: var(--wje-color-contrast-3);
  }

  .wje-button-outline.wje-color-default:hover {
    background-color: var(--wje-color-contrast-2);
    border-color: var(--wje-color-contrast-5);
    color: var(--wje-color-contrast-11);
    outline-color: var(--wje-color-contrast-3);
  }

  .wje-button-link:hover {
    background-color: var(--wje-color-contrast-3);
    border-color: transparent;
    color: var(--wje-color-contrast-11);
    outline-color: transparent;
    outline-width: 0;
  }
}

.button-inner {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  line-height: normal;
}

/*
[ Link ]
*/

.wje-button-link {
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
}

/*
[ Disabled ]
*/

.wje-button-disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

/*
[ Round ]
*/

:host([round]) .native-button {
  border-radius: var(--wje-border-radius-pill);
}

:host([circle]) .native-button {
  border-radius: var(--wje-border-radius-circle);
  aspect-ratio: 1/1;
  width: 1.813rem;
  display: flex;
  align-items: center;
  --wje-padding-top: 0;
  --wje-padding-start: 0;
  --wje-padding-end: 0;
  --wje-padding-bottom: 0;

}

:host([size=small]) .native-button {
  --wje-padding-top: .25rem;
  --wje-padding-start: .25rem;
  --wje-padding-end: .25rem;
  --wje-padding-bottom: .25rem;
}

:host([size=large]) .native-button {
  --wje-padding-top: .6rem;
  --wje-padding-start: .7rem;
  --wje-padding-end: .7rem;
  --wje-padding-bottom: .6rem;
}

:host([size=small][circle]) .native-button {
  width: 1.5rem;
  --wje-padding-top: 0;
  --wje-padding-start: 0;
  --wje-padding-end: 0;
  --wje-padding-bottom: 0;
}

:host([size=large][circle]) .native-button {
  width: 2.188rem;
  --wje-padding-top: 0;
  --wje-padding-start: 0;
  --wje-padding-end: 0;
  --wje-padding-bottom: 0;
}

::slotted(wje-icon[slot="start"]) {
  margin: 0 .3rem 0 -.3rem;
}

::slotted(wje-icon[slot="end"]) {
  margin: 0 -.2rem 0 .3rem;
}

:host(:not([only-caret])) slot[name="caret"] {
  padding: 0 0 0 .3rem;
}

:host([only-caret]) slot[name="caret"] {
  padding: 0;
  display: block;
}

:host(.wje-button-group-first:not(.wje-button-group-last)) .native-button {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

:host(.wje-button-group-inner) .native-button {
  border-radius: 0;
}

:host(.wje-button-group-last:not(.wje-button-group-first)) .native-button {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

:host(.wje-button-group-button:not(.wje-button-group-first)) {
  margin-inline-start: calc(-1 * var(--wje-button-border-width)) !important;
}

::slotted([slot="toggle"]) {
  display: none;
}

::slotted([slot="toggle"].show) {
  display: block;
}
