@import "../../scss/themes/net-basic/important.scss";

/*
[ Progress bar ]
*/

//:host #bar {
//  stroke: #{$color-primary}
//}

:host(.wj-color-primary) #bar {
  --wj-progress-bar-color: #{$color-primary};
}

:host(.wj-color-complete) #bar {
  --wj-progress-bar-color: #{$color-complete};
}

:host(.wj-color-success) #bar {
  --wj-progress-bar-color: #{$color-success};
}

:host(.wj-color-warning) #bar {
  --wj-progress-bar-color: #{$color-warning};
}

:host(.wj-color-danger) #bar {
  --wj-progress-bar-color: #{$color-danger};
}

:host(.wj-color-dark) #bar {
  --wj-progress-bar-color: #{$color-contrast-higher};
}

:host(.wj-color-light) #bar {
  --wj-progress-bar-color: #{$color-contrast-lowest};
}

:host {
  --wj-progress-bar-color: #{$color-contrast-higher};
  .progress {
    position: relative;
    display: flex;
  }

  svg {
  }

  .slot-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  #bar {
    stroke: var(--wj-progress-bar-color, red) ;
  }
}

:host(.wj-color) #bar {
  stroke: var(--wj-progress-bar-color) ;
}