/*
[ WJ Label ]
*/

:host(.wje-color-primary) {
  --wje-color: var(--wje-color-primary) !important;
}

:host(.wje-color-complete) {
  --wje-color: var(--wje-color-complete) !important;
}

:host(.wje-color-success) {
  --wje-color-base: var(--wje-color-success) !important;
  --wje-color-contrast: var(--wje-color-contrast-0) !important;
}

:host(.wje-color-warning) {
  --wje-color-base: var(--wje-color-warning) !important;
  --wje-color-contrast: var(--wje-color-contrast-11) !important;
}

:host(.wje-color-danger) {
  --wje-color-base: var(--wje-color-danger) !important;
  --wje-color-contrast: var(--wje-color-contrast-0) !important;
}

:host(.wje-color-info) {
  --wje-color-base: var(--wje-color-info) !important;
  --wje-color-contrast: var(--wje-color-contrast-0) !important;
}

:host(.wje-color-menu) {
  --wje-color-base: var(--wje-color-menu) !important;
  --wje-color-contrast: var(--wje-color-contrast-0) !important;
}

:host {
  --wje-color: initial;
  display: block;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing :border-box;
}

:host(.wje-color) {
  color: current-color(base);
}

:host(.wje-text-wrap),
:host([text-wrap]) {
  white-space: normal !important;
}

/*Fixed Inputs*/

:host(.label-fixed) {
  flex: 0 0 100px;
  width: 100px;
  min-width: 100px;
  max-width: 200px;
}

/*Stacked & Floating Inputs*/

:host(.label-stacked),
:host(.label-floating) {
  margin-bottom: 0;
  align-self: stretch;
  width: auto;
  max-width: 100%;
}

:host(.label-no-animate.label-floating) {
  transition: none;
}

/*Headings*/

::slotted(*) h1,
::slotted(*) h2,
::slotted(*) h3,
::slotted(*) h4,
::slotted(*) h5,
::slotted(*) h6 {
  text-overflow: inherit;
  overflow: inherit;
}

:host(.wje-color) {
  color: var(--wje-color);
}

::slotted(*:first-child) {
  margin-top: 0 !important;
}

::slotted(*:last-child) {
  margin-bottom: 0 !important;
}