/*
[ WJ Input ]
*/

:host {
    width: 100%;
    margin-bottom: var(--wje-input-margin-bottom);
    display: block;
    --wje-input-in-select-background: var(--wje-input-background-color, var(--wje-color-contrast-0));
    --wje-input-in-select-border-width: var(--wje-input-border-width, 1px);
    --wje-input-in-select-padding: var(--wje-input-padding, 2px 0.5rem);

    .wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .native-input {
        .input-wrapper {
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            position: relative;
            box-sizing: border-box;

            label {
                width: 100%;
            }
        }
        &.default {
            background-color: var(--wje-input-background-color);
            font-family: var(--wje-input-font-family);
            position: relative;
            border-radius: var(--wje-input-border-radius);
            border-width: var(--wje-input-border-width);
            border-style: var(--wje-input-border-style);
            border-color: var(--wje-input-border-color);
            padding-inline: 0;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            transition: background-color 0.2s ease;
            cursor: text;
            .input-wrapper {
                padding-inline: 0.5rem;
            }
            &.focused {
                border-color: var(--wje-input-border-color-focus) !important;
                label {
                    opacity: 0.67;
                    font-size: 12px;
                    letter-spacing: normal;
                }
            }
            input {
                border: none;
                height: 25px;
                min-height: 25px;
                padding: 0;
                margin-top: -4px;
                background: none;
                box-shadow: none;
                width: 100%;
            }
            label {
                margin: 0;
                display: block;
                opacity: 1;
                cursor: text;
                transition: opacity 0.2s ease;
                line-height: var(--wje-input-line-height);
                &.fade {
                    opacity: 0.5;
                    font-size: 12px;
                    letter-spacing: normal;
                }
            }
            ::slotted([slot='start']) {
                border-left: none;
                border-top: none;
                border-bottom: none;
            }

            ::slotted([slot='end']) {
                border-right: none;
                border-top: none;
                border-bottom: none;
            }
        }
        &.standard {
            font-family: var(--wje-input-font-family);
            position: relative;
            border-radius: var(--wje-input-border-radius);
            padding-inline: 0;
            padding-top: 0;
            padding-bottom: 0;
            transition: background-color 0.2s ease;
            cursor: text;
            &.focused {
                input {
                    border-color: var(--wje-input-border-color-focus) !important;
                }
            }
            input {
                background-color: var(--wje-input-background-color);
                display: block;
                min-height: 32px;
                padding-inline: 0.5rem;
                padding-top: 0;
                padding-bottom: 0;
                /*background: none;*/
                box-shadow: none;
                width: 100%;
                box-sizing: border-box;
                border-radius: var(--wje-input-border-radius);
                border-width: var(--wje-input-border-width);
                border-style: var(--wje-input-border-style);
                border-color: var(--wje-input-border-color);
            }
            label {
                margin: 0;
                display: inline-block;
                opacity: 1;
                cursor: text;
                transition: opacity 0.2s ease;
                line-height: var(--wje-input-line-height);
            }
            .input-wrapper {
                flex-wrap: nowrap;
                &:hover .clear {
                    visibility: visible;
                }
            }
            ::slotted([slot='start']) {
                border-right: none;
                border-radius: var(--wje-input-border-radius) 0 0 var(--wje-input-border-radius);
            }

            ::slotted([slot='end']) {
                border-left: none;
                border-radius: 0 var(--wje-input-border-radius) var(--wje-input-border-radius) 0;
            }

            &.has-start input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.has-end input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .error-message {
                position: static;

                background: transparent;
                padding: 0.25rem 0;
                left: auto;
                transform: none;
                color: var(--wje-input-color-invalid);
                font-size: 12px;
                line-height: normal;
            }
        }
    }
}

.clear {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 3px;
    --wje-padding-top: 0.25rem;
    --wje-padding-start: 0.25rem;
    --wje-padding-end: 0.25rem;
    --wje-padding-bottom: 0.25rem;
    --wje-button-margin-inline: 0 0.25rem;
}

:host([required]) .input-wrapper::after {
    color: var(--wje-input-color-invalid);
    content: '*';
    font-family: var(--wje-force-mac-font-family);
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

:host([required]) .standard .input-wrapper::after {
    top: 0;
}

:host([invalid]) {
    .error-message {
        display: block;
    }
    .default {
        label {
            opacity: 1 !important;
            color: var(--wje-input-color-invalid) !important;
            animation-name: shake;
            animation-duration: 0.4s;
            animation-iteration-count: 1;
        }
    }
}

::slotted([slot='start']),
::slotted([slot='end']) {
    display: flex;
    align-items: center;
    border-width: var(--wje-input-border-width);
    border-style: var(--wje-input-border-style);
    border-color: var(--wje-input-border-color);
    padding-inline: var(--wje-input-slot-padding-inline);
}

/*
    .options-show is a class that is added to the host element when the select options are shown
 */
:host(.options-show) ::slotted([slot='start']) {
    border-bottom-left-radius: 0 !important;
}

:host(.options-show) ::slotted([slot='end']) {
    border-bottom-right-radius: 0 !important;
}

slot[name='start'],
slot[name='end'] {
    display: flex;
}

slot[name='error'] {
    display: none;
    margin-inline: 0.5rem;
}

:host([invalid]) slot[name='error'] {
    display: block;
}

input {
    background-color: var(--wje-input-background-color);
    border-width: var(--wje-input-border-width);
    border-style: var(--wje-input-border-style);
    border-color: var(--wje-input-border-color);
    font-family: var(--wje-input-font-family);
    color: var(--wje-input-color);
    appearance: none;
    outline: 0;
    padding: 0.25rem 0.5rem;
    line-height: var(--wje-input-line-height);
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 32px;
}

.error-message {
    display: none;
    position: absolute;
    max-width: 100%;
    min-width: auto;
    border-radius: 50px;
    background: black;
    padding: 0.25rem 0.5rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    color: white;
    font-size: 12px;
    width: max-content;
    line-height: normal;
}

@keyframes shake {
    8%,
    41% {
        transform: translateX(-4px);
    }
    25%,
    58% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(-2px);
    }
    92% {
        transform: translateX(2px);
    }
    0%,
    100% {
        transform: translateX(0);
    }
}
