.dropzone {
    border: 1px dashed lightgrey;
    border-radius: var(--wje-border-radius-small);
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    min-height: 250px;
    width: 200px;
}

