/*
[ WJ Chip ]
*/

:host {
    display: inline-flex;
    --wje-chip-round-border-radius: var(--wje-border-radius-large);
    --wje-button-border-radius: var(--wje-chip-round-border-radius);
}

.native-chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: var(--wje-font-size);
    line-height: 1;
    letter-spacing: -0.006em;
    margin: 0;
    padding: 0 var(--wje-spacing-small);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-shadow: none;
    box-shadow: none;
    border: 0 none;
    width: 100%;
    height: 28px;
    max-width: fit-content;
    position: relative;
    transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: var(--wje-border-radius-pill);
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: var(--wje-chip-background);
    color: var(--wje-chip-color);
    &:hover {
        background-color: var(--wje-chip-background-hover);
        color: var(--wje-chip-color-hover);
    }
}

:host(.focus) {
    box-shadow: none;
}

:host(.wje-active) .native-chip {
    border: 1px solid var(--wje-color-primary-11);
    background-color: var(--wje-color-contrast-3);
    color: var(--wje-color);
}

:host(:focus, :active:focus, .wje-active:focus) {
    outline: none !important;
}

:host([size='small']) .native-chip {
    font-size: var(--wje-font-size-small);
    height: 24px;
    padding: var(--wje-spacing-3x-small)  var(--wje-spacing-x-small);
    wje-button {
        --wje-button-margin-inline: var(--wje-spacing-3x-small) calc(-1 * var(--wje-spacing-3x-small));
    }
}

:host([size='large']) .native-chip {
    font-size: var(--wje-font-size-medium);
    height: 34px;
    padding: var(--wje-spacing-x-small) var(--wje-spacing-small);

}

:host([round]) .native-chip {
    border-radius: var(--wje-chip-round-border-radius);
}

.check {
    display: none;
}

:host([active]) {
    .check {
        display: block;
        margin-inline: 4px 0;
    }
}

:host([disabled]) {
    opacity: 0.5;
    border: 0;
    pointer-events: none;
    cursor: not-allowed;
}

::slotted(wje-avatar) {
    width: 22px;
    height: 22px;
}

::slotted(wje-avatar:first-child) {
    margin-inline: -8px 8px;
    margin-top: -4px;
    margin-bottom: -4px;
}

::slotted(wje-icon:first-child) {
    margin: -4px 8px -4px -4px;
}

::slotted(wje-icon:last-child) {
    margin: -4px -4px -4px 8px;
}

slot[name='end'].has-content {
    display: block;
    margin-inline-start: 8px;
}

wje-button {
    /*--wje-button-border-radius: 50%;*/
    --wje-button-margin-inline: 0.25rem -0.5rem;
    --wje-padding-top: 0.15rem;
    --wje-padding-start: 0.15rem;
    --wje-padding-end: 0.15rem;
    --wje-padding-bottom: 0.15rem;
}

/*BG - TEXT*/
.native-chip.wje-color-primary {
    background-color: var(--wje-color-primary-1);
    color: var(--wje-color-primary-9);
}

.native-chip.wje-color-complete {
    background-color: var(--wje-color-complete-1);
    color: var(--wje-color-complete-9);
}

.native-chip.wje-color-success {
    background-color: var(--wje-color-success-1);
    color: var(--wje-color-success-9);
}

.native-chip.wje-color-warning {
    background-color: var(--wje-color-warning-2);
    color: var(--wje-color-warning-11);
}

.native-chip.wje-color-danger {
    background-color: var(--wje-color-danger-1);
    color: var(--wje-color-danger-9);
}

.native-chip.wje-color-info {
    background-color: var(--wje-color-info-1);
    color: var(--wje-color-info-9);
}

/*HOVER*/
@media (any-hover: hover) {
    .native-chip.wje-color-primary:hover {
        background-color: var(--wje-color-primary-4);
        color: var(--wje-color-primary-10);
    }

    .native-chip.wje-color-complete:hover {
        background-color: var(--wje-color-complete-4);
        color: var(--wje-color-complete-10);
    }

    .native-chip.wje-color-success:hover {
        background-color: var(--wje-color-success-4);
        color: var(--wje-color-success-10);
    }

    .native-chip.wje-color-warning:hover {
        background-color: var(--wje-color-warning-4);
        color: var(--wje-color-warning-11);
    }

    .native-chip.wje-color-danger:hover {
        background-color: var(--wje-color-danger-4);
        color: var(--wje-color-danger-10);
    }

    .native-chip.wje-color-info:hover {
        background-color: var(--wje-color-info-4);
        color: var(--wje-color-info-10);
    }
}
