/*
[ WJ Chip ]
*/

.native-chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.006em;
  margin: 0;
  padding: .5rem .75rem;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: var(--wje-color-contrast-2, #fff) ;
  color: var(--wje-color-contrast-6);
  text-shadow: none;
  box-shadow: none;
  border: 0 none;
  line-height: 14px;
  min-height: 28px;
  height: 28px;
  width: 100%;
  max-width: fit-content;
  min-width: 28px;
  position: relative;
  transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--wje-border-radius-pill);
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
}

/*BG - TEXT*/
.native-chip.wje-color-primary {
  background-color: var(--wje-color-primary-11);
  color: var(--wje-color-contrast-0);
}

.native-chip.wje-color-complete {
  background-color: var(--wje-color-complete-11);
  color: var(--wje-color-contrast-0);
}

.native-chip.wje-color-success {
  background-color: var(--wje-color-success-11);
  color: var(--wje-color-contrast-0);
}

.native-chip.wje-color-warning {
  background-color: var(--wje-color-warning-11);
  color: var(--wje-color);
}

.native-chip.wje-color-danger {
  background-color: var(--wje-color-danger-11);
  color: var(--wje-color-contrast-0);
}

.native-chip.wje-color-info {
  background-color: var(--wje-color-info-11);
  color: var(--wje-color-contrast-0);
}

.native-chip.wje-color-menu {
  background-color: var(--wje-color-contrast-11);
  color: var(--wje-color-contrast-0);
}

:host(.focus) {
  box-shadow: none;
}

/*:host(:hover:not(.wje-active)) .native-chip {*/
/*  background: var(--wje-color-contrast-3);*/
/*  color: var(--wje-color);*/
/*}*/

:host(.wje-active) .native-chip {
  border: 1px solid var(--wje-color-primary-11);
  background-color: var(--wje-color-contrast-3);
  color: var(--wje-color);
}

:host(:focus, :active:focus, .wje-active:focus) {
  outline: none !important;
  /*box-shadow: 0 0 0 $focus-width $color-focus;*/
}

.check {
  display: none;
}

:host([active]) {
  .check {
    display: block;
    margin-inline: 4px 0;
  }
}

:host([disabled]) {
  opacity: .5;
  border: 0;
  pointer-events: none;
  cursor: not-allowed;
}

::slotted(wje-avatar) {
  width: 22px;
  height: 22px;
}

::slotted(wje-avatar:first-child) {
  margin-inline: -8px 8px;
  margin-top: -4px;
  margin-bottom: -4px;
}

::slotted(wje-icon:first-child) {
  margin: -4px 8px -4px -4px;
}

::slotted(wje-icon:last-child) {
  margin: -4px -4px -4px 8px;
}

wje-button {
  --wje-button-border-radius: 50%;
  --wje-button-margin-inline: .25rem -.5rem;
  --wje-padding-top: .15rem;
  --wje-padding-start: .15rem;
  --wje-padding-end: .15rem;
  --wje-padding-bottom: .15rem;
}