

.colorPalette {
  display: block;
  padding-top: 20px;
  padding-right: 10px;

  /** primary **/

  .color {
    padding: .6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
    border-radius: 4px;
    --wj-color-primary: #7252D3;
    --wj-color-complete: #0072EC;
    --wj-color-success: #19AD79;
    --wj-color-warning: #FFd945;
    --wj-color-danger: #D83C31;
    --wj-color-info: #3B4752;
    --wj-color-menu: #2b303b;

  }
}
