:host {
    display: block;
    z-index: 9999;
    position: relative;
    height: 100%;
    right: unset;
    left: unset;
    .close-button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
    }
}

:host([hide-button]) {
    .close-button {
        display: none;
    }
}

.sliding-container-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.native-sliding-container {

    position: absolute;
    width: 0;
    height: 100%;
}

.native-sliding-container-inner {
    height: 100%;
    position: absolute;
}
