/*
[ WJ Select ]
*/

:host {
    margin-bottom: var(--wje-select-margin-bottom);
    width: 100%;
    display: block;
    [slot='arrow'] {
        transform: rotate(0deg);
        transition: all 0.2s ease-in;
    }
}

.native-select {
    position: relative;
    &.default {
        .wrapper {
            display: block;
						background-color: var(--wje-select-background);
            border-width: var(--wje-select-border-width);
            border-style: var(--wje-select-border-style);
            border-color: var(--wje-select-border-color);
            border-radius: var(--wje-select-border-radius);
            padding-inline: 0.5rem;
            padding-top: 0.125rem;
            padding-bottom: 0.125rem;
        }
        .input-wrapper {
            padding: 0;
            min-height: 28px;
            margin-top: -4px;
        }
        &.focused {
            wje-label {
                opacity: 0.67;
                font-size: 12px;
                letter-spacing: normal;
            }
        }
        wje-label {
            margin: 0;
            display: block;
            opacity: 1;
            cursor: text;
            transition: opacity 0.2s ease 0s;
            line-height: var(--wje-select-line-height);
            &.fade {
                opacity: 0.5;
                font-size: 12px;
                letter-spacing: normal;
            }
        }
    }
    &.standard {
        .wrapper {
            background-color: var(--wje-select-background);
            border-width: var(--wje-select-border-width);
            border-style: var(--wje-select-border-style);
            border-color: var(--wje-select-border-color);
            border-radius: var(--wje-select-border-radius);
        }
        .input-wrapper {
            background: transparent;
            width: 100%;
        }
        slot[name='error'] {
            position: static;

            background: transparent;
            padding: 0.25rem 0;
            left: auto;
            transform: none;
            color: var(--wje-input-color-invalid);
            font-size: 12px;
            line-height: normal;
        }
    }
}

.wrapper {
    display: flex;
    width: 100%;
}

.input-wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    background-color: var(--wje-select-background);
    min-height: 28px;
    color: var(--wje-select-color);
    line-height: var(--wje-select-line-height);
    appearance: none;
    padding: 2px 0.5rem;
    font-size: 14px !important;
    font-weight: normal;
    vertical-align: middle;
    input[readonly] {
        pointer-events: none;
        caret-color: transparent;
    }
}

input {
    color: var(--wje-select-color);
    line-height: var(--wje-select-line-height);
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: 0.01em;
    border: medium;
    height: 25px;
    min-height: 25px;
    padding: 0;
    background: none;
    box-shadow: none;
    width: 100%;
    outline: 0;
    font-size: 14px !important;
}

::placeholder {
    opacity: 1;
}

:host [active] {
    .wrapper {
        border-radius: var(--wje-select-border-radius);
    }
    [slot='arrow'] {
        transform: rotate(180deg);
        transition: all 0.2s ease-in;
    }
}

.options-wrapper {
    border-width: var(--wje-select-options-border-width);
    border-style: var(--wje-select-options-border-style);
    border-color: var(--wje-select-options-border-color);
    border-radius: var(--wje-select-options-border-radius);
    margin-top: calc(0px - var(--wje-select-border-width));
    background: var(--wje-select-background);
    overflow: hidden;
}

.find {
    margin-block: var(--wje-select-find-margin-block);
    margin-inline: var(--wje-select-find-margin-inline);
    width: var(--wje-select-find-width);
}

.list {
    overflow: auto;
    height: 100%;
}

.options-wrapper:has(.find) .list {
    height: calc(100% - 32px - 0.5rem);
}

:host([multiple]) input {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

:host([multiple]) .chips {
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--wje-spacing-3x-small);
}

:host([disabled]) .input-wrapper {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.counter {
    padding-inline: 0.5rem;
}

wje-chip {
    --wje-chip-margin: 0 0.25rem 0 0;
}

wje-button {
    --wje-padding-top: 0.25rem;
    --wje-padding-start: 0.25rem;
    --wje-padding-end: 0.25rem;
    --wje-padding-bottom: 0.25rem;
    --wje-button-margin-inline: 0 0.25rem;
}

.slot-start,
.slot-end {
    &:not(:empty) {
        margin-right: 0.5rem;
    }
}

slot[name='error'] {
    display: none;
}

:host([invalid]) slot[name='error'] {
    display: block;
}

slot[name='error'] {
    display: none;
    position: absolute;
    max-width: 100%;
    min-width: auto;
    border-radius: 50px;
    background: black;
    padding: 0.25rem 0.5rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: var(--wje-font-size-small);
    width: max-content;
    line-height: normal;
}

.input-hidden{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: -1;
}