@import "../../scss/themes/net-basic/important.scss";

/*
[ Badge ]
*/

:host(.wj-color-primary) {
  --wj-toggle-color-base: linear-gradient(to right, #{$color-primary} 0%, #{$color-primary-light} 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

:host(.wj-color-complete) {
  --wj-toggle-color-base: linear-gradient(to right, #{$color-complete} 0%, #{$color-complete-light} 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

:host(.wj-color-success) {
  --wj-toggle-color-base: linear-gradient(to right, #{$color-success} 0%, #{$color-success-light} 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%) !important;
}

:host(.wj-color-warning) {
  --wj-toggle-color-base: linear-gradient(to right, #{$color-warning} 0%, #{$color-warning-light} 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

:host(.wj-color-danger) {
  --wj-toggle-color-base: linear-gradient(to right, #{$color-danger} 0%, #{$color-danger-light} 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

:host(.wj-color-dark) {
  --wj-toggle-color-base: linear-gradient(to right, #{$color-info} 0%, #{$color-info-light} 44%, rgba(0, 0, 0, 0.14) 62%, rgba(0, 0, 0, 0.04) 97%);
}

$switch-duration: 250ms;
$switch-curve: cubic-bezier(.4,0,.2,1);

:host {
  --wj-toggle-width: 30px;
  --wj-toggle-height: 18px;
  --wj-toggle-handle-width: 14px;
  --wj-toggle-handle-height: 14px;
  --wj-toggle-handle-border-radius: 50px;
}

.native-toggle {
  display: flex;
}
label {
  display: flex;
  cursor: pointer;
  //margin-bottom: 0;
  align-items: center;
  user-select: none;
  .label-wrapper {
    width: var(--wj-toggle-width);
    height: var(--wj-toggle-height);
    position: relative;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $color-contrast-lowest;
      //background-image: -webkit-linear-gradient(to right, $color-primary 0%, $color-primary-light 44%, rgba(0,0,0,0.14) 62%, rgba(0,0,0,0.04) 97%);
      //background-image: -moz-linear-gradient(to right, $color-primary 0%, $color-primary-light 44%, rgba(0,0,0,0.14) 62%, rgba(0,0,0,0.04) 97%);
      //background-image: linear-gradient(to right, $color-primary 0%, $color-primary-light 44%, rgba(0,0,0,0.14) 62%, rgba(0,0,0,0.04) 97%);
      background-image: var(--wj-toggle-color-base);
      background-size: 300%;
      background-position: right;
      border-radius: var(--wj-toggle-handle-border-radius);
      border: none;
      box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.12);
      transition: background ($switch-duration + ($switch-duration * 0.24)), box-shadow $switch-duration;
      transition-timing-function: $switch-curve;
    }
    &:after {
      content: "";
      position: absolute;
      transform: translateX(0%);
      background: #fff;
      top: 2px;
      left: 2px;
      width: var(--wj-toggle-handle-width);
      height: var(--wj-toggle-handle-height);
      border-radius: 9px;
      box-shadow: 1px 0px 1px 0.5px rgba(0,0,0,0.12), 2px 4px 6px rgba(0,0,0,0.2);
      transition: transform, box-shadow;
      transition-duration: $switch-duration;
      transition-timing-function: $switch-curve;
    }
  }
}
input[type="checkbox"][disabled] {
  & + label {
    cursor: not-allowed !important;
    color: $color-contrast-high;
    opacity: 0.58;

    &:before {
      cursor: not-allowed !important;
      //background: mix($color-contrast-higher, $color-contrast-lower, 04%);
    }
  }
}
input[type="checkbox"]{
  background:red;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 16px;
  opacity: 0;
  &:checked{
    & + label {
      .label-wrapper:before {
        background-position: left;
        box-shadow: inset 0 0 0 1px rgba(0,0, 0,0.12);
      }
      .label-wrapper:after{
        transform: translateX(calc(var(--wj-toggle-width) - var(--wj-toggle-handle-width) - 4px));
        box-shadow: 1px 1px 0 rgba(0,0,0,0.08), -3px 3px 6px rgba(0,0,0,0.3);
      }
    }
  }
  &:focus {
    & + label {
      .label-wrapper:before{
        outline: none !important;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,0.12) ,0 0 0 $focus-width $color-focus;
      }
    }
  }
  &[disabled]:active{
    & + label {
      .label-wrapper:after {
        transform: scaleX(1.1);
        transform-origin: center left;
        transition: transform step-start;
      }
    }
  }
  &:checked{
    &[disabled]:active{
      & + label {
        .label-wrapper:after{
          transform: translateX(calc(100% - 6px)) scaleX(1.1);
          transform-origin: center right;
        }
      }
    }
  }
  &:hover{
    &:active{
      & + label {
        .label-wrapper:before{
          background-color:transparent;
        }
      }
    }
  }
}
//:host {
//  &.right {
//    input[type="checkbox"] {
//      & + label {
//        @include padding-left(0px);
//        @include padding-right(36px);
//
//        &:before {
//          @include right(0px);
//          @include left(auto);
//        }
//
//        &:after {
//          @include right(10px);
//          @include left(auto);
//        }
//      }
//    }
//  }
//
//  &.switch-lg {
//    input[type="checkbox"] {
//      & + label {
//        @include padding-left(42px);
//
//        &:before {
//          width: 34px;
//          height: 22px;
//          top: 0px;
//        }
//
//        &:after {
//          width: 18px;
//          height: 18px;
//          top: 2px;
//        }
//      }
//    }
//
//    &.right {
//      input[type="checkbox"] {
//        & + label {
//          @include padding-left(0px);
//          @include padding-right(44px);
//
//          &:after {
//            @include right(14px);
//          }
//        }
//      }
//    }
//  }
//}
  /* hide focus style if not from keyboard navigation */
  .js-focus-visible .form-check.switch input[type="checkbox"]:focus:not(.focus-visible) + label:before {
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.12);
  }

  /* Accessibility focus for screen readers*/
  .form-check.switch{
    input[type="checkbox"]{
      top: 1px;
      width: 28px;
      height: 18px;
    }
  }
  .form-check.switch.switch-lg{
    input[type="checkbox"]{
      top: 0px;
      width: 34px;
      height: 22px;
    }
  }


:host(.wj-color) {
  //background-color: var(--wj-color-base, red) ;
  //color: var(--wj-color-contrast);
}

:host .text {
  margin-inline: .5rem 0;
}