/*
[ Wj Icon Picker ]
*/

:host {
  --wje-icon-picker-radius: var(--wje-border-radius-small);
  --wje-icon-picker-icon-size: 1.5rem;
  --wje-icon-picker-border-width: 1px;
  --wje-icon-picker-border-style: solid;
  --wje-icon-picker-border-color: var(--wje-border-color);
  --wje-icon-picker-padding: 0.25rem;
  padding: 0 1rem;
}

.anchor {
  width: var(--wje-icon-picker-icon-size);
  height: var(--wje-icon-picker-icon-size);
  padding: var(--wje-icon-picker-padding);
  border-width: var(--wje-icon-picker-border-width);
  border-style: var(--wje-icon-picker-border-style);
  border-color: var(--wje-icon-picker-border-color);
  box-sizing: border-box;
  border-radius: var(--wje-icon-picker-radius);
}

.picker {
  width: 320px;
  height: 271px;
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.05),
    0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--wje-icon-picker-radius);
  border-width: var(--wje-icon-picker-border-width);
  border-style: var(--wje-icon-picker-border-style);
  border-color: var(--wje-icon-picker-border-color);
  overflow: auto;
  padding: 1rem;
  background: var(--wje-background);
}

.icon-items {
  --icon-min-width: 2rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--icon-min-width), 1fr));
}

.icon-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: inherit;
  padding: 0.25rem;
  min-height: var(--wje-icon-picker-icon-size);
  min-width: var(--wje-icon-picker-icon-size);
  text-decoration: none;

  &:hover {
    border-radius: 0.25rem;
    background: var(--wje-border-color);
  }
}

.wje-size {
  --wje-icon-size: 24px !important;
}

icon-item svg {
  width: var(--wje-icon-picker-icon-size);
  height: var(--wje-icon-picker-icon-size);
}

wje-input {
  --wje-input-border-radius: 4px;
  --wje-input-margin-bottom: 0;
}

wje-infinite-scroll {
  margin-top: 1rem;
}

wje-select {
  --wje-select-border-width: 0 0 1px 0 !important;
  --wje-select-border-radius: 0 !important;
  margin-bottom: 1rem;
}

.anchor wje-icon {
  --wje-icon-size: 100% !important;
}
