/*
[ Carousel ]
*/

:host {
  --wje-scroll-hint: 0px;
  --wje-carousel-width: 100%;
  --wje-carousel-height: auto;
  --wje-carousel-size: 100%
}

.native-carousel {
  position: relative;
  width: var(--wje-carousel-width, 100%);
  height: var(--wje-carousel-height, 300px);
  scroll-behavior: smooth;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease;
  align-items: center;
  justify-items: center;
  overflow: auto;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
  aspect-ratio: var(--wje-aspect-ratio, 4 / 3);
  scroll-snap-type: x mandatory;
  scroll-padding-inline: 0;
  overflow-y: hidden;
  padding-inline: var(--wje-spacing-inline, 0);
  gap: .5rem;
}

.carousel-slides::-webkit-scrollbar{
  display: none;
}

::slotted(wje-carousel-item) {
  flex: 0 0 var(--wje-carousel-size);
  height: 100%;
}

/*NAVIGATION*/

wje-button {
  position: absolute;
  top: 50%;

  border: none;
  cursor: pointer;
  z-index: 2;
}

.prev {
  left: -1rem;
  transform: translate(-100%, -50%);
}

.next {
  right: -1rem;
  transform: translate(100%, -50%);
}

/*PAGINATION*/

.pagination {
  position: relative;
  bottom: -.5rem;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  z-index: 2;
  justify-content: center;
}
.pagination-item {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--wje-color-contrast-4);
  display: inline-block;
  border-radius: 50%;
}
.pagination-item.active {
  background-color: var(--wje-color);
}

/*THUMBNAILS*/

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  gap: .5rem;
  padding: 0 .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  box-sizing: border-box;
  overflow-y: hidden;
  wje-thumbnail {
    --wje-thumbnail-width: 48px;
    --wje-thumbnail-height: 48px;
    --wje-thumbnail-border-radius: 0;
    cursor: pointer;
    border: 1px solid transparent;
  }
  .active {
    border: 1px solid var(--wje-color-primary-11);
  }
}



