* {
  box-sizing: border-box;
}
body {
  padding: 1rem;
}

/*h2 {*/
/*  font-size: 20px;*/
/*}*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  width: 672px;
  margin: 0 auto;
}

.playground {
  border: 1px solid rgba(0,0,0,.08);
  width: 100%;
  height: auto;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 3rem;
  padding: 2rem 0;
}

.content {
  width: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.col-4 wj-card {
  flex: 1 1 28%;
}

DocsCards  wj-icon {
    padding: 12px;
    --wj-icon-size: 32px;
    margin-bottom: 1rem;
    color: #fff;
    border-radius: 50%;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, #3A0087ee 0%, #AE40FDee 100%);
  }
  DocsCards wj-icon svg {
    stroke-width: 1px;
  }
  DocsCards wj-card {
    --wj-border-radius: 10px;
  }
  DocsCards wj-card-content p {
    font-size: 0.75rem!important;
  }


