.item {
  width: 134px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 8px;
  padding: 8px;
  transition: transform .2s ease-in;
  border-radius: var(--wje-border-radius-small);
  background-color:  var(--wje-color-contrast-lowest);
  
  transform: var(--item-transform);
}

.item:hover {
  background-color: #F4F4F5;
}

.item:active {
  background-color:  var(--wje-color-contrast-lowest);
}

.moving {
  background-color: lightgrey;
}

.name {
  width: 98px;
  height: 19px;
  text-align: center;
  font-size: var(--wje-font-size-medium);
  font-weight: 400;
  line-height: 19.36px;
  gap: 10px;
}

.drag--down {
  --item-transform: translateY(-10px);
}

.drag--up {
  --item-transform: translateY(10px);
}
