:host {
  --reorder-background-color: var(--wje-color-contrast-lowest);
  --reorder-item-spacing: .5rem;
}

.item {
  width: 134px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  gap: var(--reorder-item-spacing);
  padding: var(--reorder-item-spacing);
  border-radius: var(--wje-border-radius-small);
  background-color: var(--reorder-background-color);
  cursor: grab;
  transition: top 0.3s ease, left 0.3s ease;
}

.item-w-handle {
  cursor: default;
}

.item-w-handle:active {
  opacity: .3;
}

.item:active:not(.item-w-handle):not(.moving) {
  background-color: var(--reorder-background-color);
  cursor: grabbing;
}

.moving {
  background-color: lightgrey;
}

.handle {
  cursor: grab;
  gap: 10px;
}

.handle:active {
  cursor: grabbing;
}

.name {
  width: 108px;
  height: 19px;
  text-align: center;
  font-size: var(--wje-font-size-medium);
  font-weight: 400;
  line-height: 19.36px;
  gap: 10px;
}

/* .drag--down {
  --item-transform: translateY(-5px);
}

.drag--up {
  --item-transform: translateY(5px);
} */

.item {
  transform: var(--item-transform);
}
