.item {
    width: 350px;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
    border-radius: 3mm;
    margin: 10px 0;
    cursor: grab;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px,
      rgba(0, 0, 0, 0.23) 0px 3px 3px;
    transition: transform 0.3s ease, margin 0.25s ease; 
    animation: fadeIn 1s ease-in-out;
}

.name {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    transition: transform 0.3s ease, margin 0.25s ease; 
    animation: fadeIn 1s ease-in-out;
  }