@import "../../scss/themes/net-basic/important.scss";

/*
[ Popup ]
*/

:host {
  --wj-popup-top: auto;
  --wj-popup-left: auto;
  display: contents;

}

.native-popup {
  position: absolute;
  isolation: isolate;
  left: var(--wj-popup-left);
  top: var(--wj-popup-top);
}
.native-popup:not(.popup-active) {
  display: none;
}