/*
[ WJ File Upload ]
*/

:host {
    width: 100%;
}

.native-file-upload {
    width: 100%;
    //align-items: center;
    //justify-content: center;
    //display: flex;
}

.file-label {
    background: var(--wj-color-contrast-0);
    border: 1px dashed var(--wj-border-color);
    border-radius: var(--wj-border-radius-medium);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
    margin-bottom: .5rem;
    flex-direction: column;
}

.file-label wj-icon {
    //--wj-icon-size: 5rem;
}

.file-preview {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0 0;
    grid-template-areas:
    "image name name"
    "image size size"
    "progress progress progress";
}

.file-image {
    grid-area: image;
    align-items: center;
    display: flex;
}

.file-name {
    grid-area: name;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-size {
    grid-area: size;
    display: flex;
}

.file-progress { grid-area: progress; }

wj-icon {
    margin-right: .25rem;
}

wj-img {
    margin-right: .25rem;
}

.file-info > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

wj-slider {
    flex-basis: 100%;
    margin-top: .5rem;
}

::part(slider) {
    &::-webkit-slider-thumb {
        visibility: hidden;
    }

    &::-moz-range-thumb {
        visibility: hidden;
    }

    &::-ms-thumb {
        visibility: hidden;
    }
}

wj-img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: .25rem;
    border: 1px solid var(--wj-border-color);
    border-radius: var(--wj-border-radius-medium);
}