@import "../../scss/themes/net-basic/important.scss";

/*
[ Option ]
*/
:host {
  --wj-select-border-width: 1px;
  --wj-select-border-style: solid;
  --wj-select-border-color: var(--wj-border-color);
  wj-icon {
    visibility: hidden;
  }
}

:host([selected]) {
  wj-icon {
    visibility: visible;
  }
}

.option-wrapper {
  border-width: var(--wj-select-border-width);
  border-style: var(--wj-select-border-style);
  border-color: var(--wj-select-border-color);
}