* {
  box-sizing: border-box;
  /*background: var(--wje-background);*/
}

html{
  color: var(--wje-color);
}

body {
  background: var(--wje-background);
  color: var(--wje-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*height: 100%;*/
  flex-direction: column;
  max-width: 672px;
  margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}

.playground {
  border-width: 1px;
  border-style: solid;
  border-color: var(--wje-border-color);
  width: 100%;
  height: auto;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 3rem;
  padding: 2rem 0;
  background: transparent;

}

.content {
  width: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.d-flex {
  display: flex;
}

.col-4 wje-card {
  flex: 1 1 28%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter {
  /*display: none;*/
  height: 0;
  overflow: hidden;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(100px);
  opacity: 0;
}

.bounce-enter {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

router-outlet > * {
  display: block;
}

#navigation {
  --wje-menu-border-width: 0;
  max-width: 100%;
}

#navigation a {
  color: var(--wje-color) !important;
  display: block;
}

wje-menu-button#close {
    margin: 1rem 0 0 1rem;
}

wje-button {
  margin: .25rem;
}

wje-chip {
  margin: .25rem;
}

wje-header::part(native) {
  height: 100%;
  align-items: center;
}

wje-header wje-button {
  margin-left: auto;
}

wje-header .logo {
  --wje-img-width: 120px !important;
}

/*Light mode*/
#logo-light {
  display: block;
}
#logo-dark {
  display: none;
}


.wje-theme-dark{
  #logo-light {
    display: none;
  }
  #logo-dark {
    display: block;
  }
}
