/*
[ WJ Popup ]
*/

:host {
    --wje-popup-top: auto;
    --wje-popup-left: auto;

    display: flex; /* zmenene z contents na flex kvoli breadcrumbs v a jeho trom bodkam */
}

.native-popup {
    position: absolute;
    isolation: isolate;
    z-index: 999;
    left: var(--wje-popup-left);
    top: var(--wje-popup-top);
}
.native-popup:not(.popup-active) {
    display: none;
}

.popup-loader.overlay {
    position: absolute;
    inset: 1px;
    background: var(--wje-popup-overlay-background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.popup-loader.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}