@import "../../scss/themes/net-basic/important.scss";

/*
[ Card - Header ]
*/

:host {
  background: transparent;
  border-radius: 0;
  border-bottom: 0;
  padding: $card-heading-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--wj-color-contrast);
}

:host(.wj-separator):after {
  content: "";
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  margin-top: .5rem;
}