@import "../../scss/themes/net-basic/important.scss";
@import "../../scss/modules/color-picker.scss";

// Import important
//@import "../themes/net-basic/important";

/*------------------------------------------------------------------
[Card - Header]
*/

:host {
  background: transparent;
  border-radius: 0px;
  border-bottom: 0px;
  padding: $card-heading-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--wj-color-contrast);
}

:host(.wj-separator):after {
  content: "";
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  margin-top: .5rem;
}