/*
[ Wj infinite Scroll ]
*/

:host {
    overflow-x: auto;
    width: var(--wje-infinite-scroll-width);
    height: var(--wje-infinite-scroll-height);
    display: block;
    position: relative;

}

.loading {
    position: absolute;
    inset: 1px;
    /*background: white;*/
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: var(--wje-infinite-scroll-loading-bg);
    &.show {
        display: flex;
    }
}

[name='ending'] {
    display: none;
    margin-top: 1rem;
    text-align: center;
}

[name='ending'].show {
    display: block;
}
