/*
[ WJ Avatar ]
*/

:host {
  --wje-avatar-width: 32px;
  --wje-avatar-height: 32px;
  --wje-avatar-font-size: .75rem;
  --wje-avatar-font-weight: 400;
  --wje-avatar-color: inherit;
  --wje-avatar-background-color: var(--wje-color-contrast-low);

  --wje-avatar-border-radius: 50%;
  --wje-avatar-border-color: transparent;
  --wje-avatar-border-width: 1px;
  --wje-avatar-border-style: solid;

  display: inline-block;
  width: var(--wje-avatar-width);
  height: var(--wje-avatar-height);
  font-size: var(--wje-avatar-font-size);
  font-weight: var(--wje-avatar-font-weight);
  color: var(--wje-avatar-color);
  .native-avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: var(--wje-avatar-border-radius);
    background-color: var(--wje-avatar-background-color);
  }
}

::slotted([slot=status]) {
  display: flex;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

::slotted(wje-img),
::slotted(img) {
  border-radius: var(--wje-avatar-border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

:host(.wje-avatar-border) {
  border-color: var(--wje-avatar-border-color);
  border-width: var(--wje-avatar-border-width);
  border-style: var(--wje-avatar-border-style);
}

:host(.wje-avatar-small) {
  --wje-avatar-width: 24px;
  --wje-avatar-height: 24px;
}

:host(.wje-avatar-large) {
  --wje-avatar-width: 48px;
  --wje-avatar-height: 48px;
}