@charset "UTF-8";@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600");@import url("https://keplerapis.com/fonts/css?family=Inter+UI:300,400,500,600");


/*!
* direction.scss
*/
/* Skeleton Variables */
:root {
  --wj-color: #212529;
  --wj-font-family: Inter UI, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --wj-font-size: 14px;
  --wj-line-height: 21px;
  --wj-color-contrast: #212529;
  --wj-border-radius: 8px;
  --wj-border-color: rgba(0, 0, 0, 0.08) !important;
  --wj-border-size: 0px;
  --wj-border-style: solid;
}
/*------------------------------------------------------------------
[5@mixin  Typography]
*/
/* Standard elements
--------------------------------------------------
*/
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #4b4b4b;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
}
/* Headings
------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 500;
  color: inherit;
  display: inline-block;
}
h1 {
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.0141279em;
}
h2 {
  font-size: 26px;
  line-height: 34px;
  letter-spacing: -0.021em;
}
h3 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.0114923em;
}
h4 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.00865734em;
}
h5 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.00630069em;
}
h3 small,
h4 small,
h5 small {
  font-weight: 300;
}
h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
  padding-bottom: 10px;
}
/* Lins and Others
------------------------------------
*/
a {
  text-shadow: none !important;
  color: #4e37b6;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
  font-weight: 500;
}
a:focus,
a:hover,
a:active {
  color: #7252D3;
}
a,
a:focus,
a:hover,
a:active {
  outline: 0 !important;
  text-decoration: none;
}
a[ng-click] {
  cursor: pointer;
}
a.no-style {
  color: inherit;
  font-weight: normal;
}
br {
  line-height: normal;
  clear: both;
}
p {
  display: block;
  color: inherit;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.00177646em;
  line-height: 21px;
  margin: 0px 0px 10px 0px;
  font-style: normal;
  white-space: normal;
}
small,
.small {
  line-height: 18px;
  font-size: 85.714%;
}
label.inline {
  display: inline-block;
  position: relative;
  top: 0px;
  font-size: 13px;
}
ul,
ol {
  margin-bottom: 10px;
}
ul > li,
ol > li {
  padding-left: 3px;
  line-height: 24px;
}
ul.lg-icon > li,
ol.lg-icon > li {
  font-size: 21px;
}
ul.lg-icon > li span,
ol.lg-icon > li span {
  font-size: 14px;
}
ul.no-style,
ol.no-style {
  list-style: none;
  padding-left: 5px;
}
address {
  margin-bottom: 0px;
}
address a {
  color: #4b4b4b;
}
blockquote {
  padding: 4px 0 0 18px;
  border-left: 0;
}
blockquote:before {
  content: "\e95d";
  font-family: "pages-icon";
  font-size: 20px;
  margin-right: 6px;
  float: left;
  position: relative;
  top: -12px;
}
blockquote p {
  font-size: 16px;
  margin-bottom: 4px;
}
blockquote small {
  line-height: 29px;
  color: #4b4b4b;
}
blockquote small:before {
  content: "—";
  margin-right: 6px;
}
blockquote.pull-right {
  border-right: 0;
}
blockquote.pull-right:before {
  float: right;
  font-family: "pages-icon";
  content: "\e95d";
  margin-left: 6px;
  margin-right: 0;
}
blockquote.pull-right small {
  padding-right: 30px;
}
blockquote.pull-right small:after {
  content: "";
}
hr {
  border-color: #e0e0e0;
}
hr.double {
  border-width: 2px;
}
hr.dotted {
  border-style: dotted none none;
}
.ff-sup {
  font-feature-settings: "kern" 1, "sups" 1;
  -webkit-font-feature-settings: "kern" 1, "sups" 1;
  -ms-font-feature-settings: "kern" 1, "sups" 1;
  -moz-font-feature-settings: "kern" 1, "sups" 1;
}
.ff-sub {
  font-feature-settings: "kern" 1, "subs" 1;
  -webkit-font-feature-settings: "kern" 1, "subs" 1;
  -ms-font-feature-settings: "kern" 1, "subs" 1;
  -moz-font-feature-settings: "kern" 1, "subs" 1;
}
/* Standard HTML Typography tags
------------------------------------
*/
code {
  color: #757575;
  background-color: rgba(33, 33, 33, 0.05);
  font-size: 97%;
  position: relative;
  line-height: inherit;
  border-radius: 3px;
  padding: 5px 7px;
  margin: 0;
}
code:hover {
  color: #0072EC;
}
code.code-sm {
  padding: 3px 6px;
}
figcaption {
  font-size: 13px;
  margin-top: 10px;
  font-weight: 400;
  display: block;
  letter-spacing: 0.008em;
  text-align: center;
  color: #757575;
  line-height: 1.46;
}
em {
  font-style: italic !important;
  font-family: inherit;
  font-weight: inherit;
}
ins {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid #d0d0d0;
  text-decoration: none;
  color: #4b4b4b;
  font-weight: normal;
  font-size: 94%;
}
cite {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  hanging-punctuation: first;
}
sup {
  top: -0.28em;
  font-size: 70%;
}
sub {
  bottom: 0.03em;
}
var {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-feature-settings: "calt" 1, "tnum" 1, "frac" 1, "case" 1, "ss01" 1, "cv11" 1;
}
abbr {
  text-decoration: none;
  letter-spacing: 0.01em;
  background-color: transparent;
  border-bottom: 2px solid #ffba5a;
  transition-property: color, background, border;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-decoration: none;
  color: #4b4b4b;
  border-bottom-color: #ffba5a;
  -webkit-text-stroke: 0.18px;
}
q {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 20px;
  hanging-punctuation: first;
}
q:before {
  content: "“";
  color: rgba(0, 0, 0, 0.44);
  font-size: 35px;
}
q:after {
  content: "”";
  font-size: 35px;
  color: rgba(0, 0, 0, 0.44);
}
audio {
  margin-top: 42px;
}
hr {
  clear: both;
  margin-bottom: 42px;
  margin-top: 42px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
address {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  margin: 0 0 1.75em;
  font-size: 14px;
  line-height: 24px;
  margin-top: 24px;
}
abbr {
  text-decoration: none;
  letter-spacing: 0.01em;
  background-color: transparent;
  border-bottom: 2px solid #ffba5a;
  transition-property: color, background, border;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-decoration: none;
  color: #4b4b4b;
  border-bottom-color: #ffba5a;
  -webkit-text-stroke: 0.18px;
}
acronym {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background-color: transparent;
  border-bottom: 2px solid #ffba5a;
  transition-property: color, background, border;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  text-decoration: none;
  color: #4b4b4b;
  border-bottom-color: #ffba5a;
  -webkit-text-stroke: 0.2px;
}
pre {
  tab-size: 4;
  font-size: 85.714%;
  overflow-x: auto;
  font-family: monospace, monospace;
  line-height: 1.7;
  counter-reset: line;
  background-color: #f4f4f4;
  color: #4b4b4b;
  margin: 0px;
  counter-reset: line;
  padding: 17px 20px;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
dt {
  font-weight: 700;
  margin-bottom: 5px;
}
dd {
  margin: 0 0 1.75em;
}
kbd {
  font-size: 85.714%;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  position: relative;
  line-height: 34px;
  top: -3px;
  letter-spacing: 0.01em;
  padding: 5px 7px;
  margin: 0;
  color: rgba(0, 0, 0, 0.53);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 0px 1px #c7c7c7, 0px 1px 0px 1px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px #ececec;
}
/* Types
------------------------------------
*/
.overline {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.06em;
  font-size: 11px;
}
/* Font Sizes
------------------------------------
*/
.small-text {
  font-size: 12px !important;
  letter-spacing: 0.00849077em;
  line-height: 18px;
}
.small-text a {
  text-decoration: underline;
}
.normal-text {
  font-size: 13px !important;
}
.large-text {
  font-size: 15px !important;
}
/* Font Weights
------------------------------------
 */
.normal {
  font-weight: normal !important;
}
.semi-bold {
  font-weight: 500 !important;
}
.bold {
  font-weight: 600 !important;
}
.light {
  font-weight: 300 !important;
}
/* Misc
------------------------------------
*/
.logo {
  margin: 18px 14px;
}
.all-caps {
  text-transform: uppercase;
  letter-spacing: 0.07em !important;
}
.text-uppercase {
  text-transform: uppercase !important;
  letter-spacing: 0.07em !important;
}
.muted {
  color: #757575;
}
.hint-text {
  opacity: 0.76 !important;
}
.no-decoration {
  text-decoration: none !important;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Monochrome Colors
------------------------------------
 */
.bg-contrast-higher {
  background-color: #212121 !important;
  color: #fff;
}
.bg-contrast-high {
  background-color: #4b4b4b !important;
  color: #fff;
}
.bg-contrast-medium {
  background-color: #757575 !important;
  color: #fff;
}
.bg-contrast-low {
  background-color: #e0e0e0 !important;
  color: #4b4b4b;
}
.bg-contrast-lower {
  background-color: #f4f4f4 !important;
  color: #4b4b4b;
}
.bg-contrast-lowest {
  background-color: #fff !important;
  color: #4b4b4b;
}
/* Primary
------------------------------------
*/
.bg-primary {
  background-color: #7252D3 !important;
  color: #fff;
}
.bg-primary-dark {
  background-color: #4e37b6 !important;
  color: #fff;
}
.bg-primary-darker {
  background-color: #2d218f !important;
  color: #fff;
}
.bg-primary-light {
  background-color: #845ae0 !important;
  color: #fff;
}
.bg-primary-lighter {
  background-color: #eae0fb !important;
  color: #4b4b4b;
}
/* Complete
------------------------------------
*/
.bg-complete {
  background-color: #0072EC !important;
  color: #fff;
}
.bg-complete-dark {
  background-color: #004fbf !important;
  color: #fff;
}
.bg-complete-darker {
  background-color: #00318e !important;
  color: #fff;
}
.bg-complete-light {
  background-color: #0f8ff9 !important;
  color: #fff;
}
.bg-complete-lighter {
  background-color: #d3eeff !important;
  color: #4b4b4b;
}
/* Success
------------------------------------
*/
.bg-success {
  background-color: #19AD79 !important;
  color: #fff;
}
.bg-success-dark {
  background-color: #0d935b !important;
  color: #fff;
}
.bg-success-darker {
  background-color: #04733e !important;
  color: #fff;
}
.bg-success-light {
  background-color: #26bf93 !important;
  color: #4b4b4b;
}
.bg-success-lighter {
  background-color: #d6f7f0 !important;
  color: #4b4b4b;
}
/* Info
------------------------------------
*/
.bg-info {
  background-color: #3B4752 !important;
  color: #fff;
}
.bg-info-dark {
  background-color: #2b3947;
  color: #fff;
}
.bg-info-darker {
  background-color: #1b2839;
  color: #fff;
}
.bg-info-light {
  background-color: #475b6b;
  color: #fff;
}
.bg-info-lighter {
  background-color: #dbe6e8;
  color: #4b4b4b;
}
/* Danger
------------------------------------
*/
.bg-danger {
  background-color: #D83C31 !important;
  color: #fff;
}
.bg-danger-dark {
  background-color: #b91e1e;
  color: #fff;
}
.bg-danger-darker {
  background-color: #900f17;
  color: #fff;
}
.bg-danger-light {
  background-color: #e6533c;
  color: #4b4b4b;
}
.bg-danger-lighter {
  background-color: #fde2da;
  color: #4b4b4b;
}
/* Warning
------------------------------------
 */
.bg-warning {
  background-color: #FFd945 !important;
  color: #4b4b4b;
}
.bg-warning-dark {
  background-color: #daab2d;
  color: #4b4b4b;
}
.bg-warning-darker {
  background-color: #aa7918;
  color: #4b4b4b;
}
.bg-warning-light {
  background-color: #ffe858;
  color: #4b4b4b;
}
.bg-warning-lighter {
  background-color: #fffde1;
  color: #4b4b4b;
}
/* Menu
------------------------------------
*/
.bg-menu-dark {
  background-color: #21252d;
  color: #fff;
}
.bg-menu {
  background-color: #2b303b;
  color: #fff;
}
.bg-menu-light {
  background-color: rgb(146, 154, 172);
  color: #4b4b4b;
}
/* Gradients
------------------------------------
*/
.gradient-grey {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
}
.gradient-black {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
}
/* Other Colors
------------------------------------
*/
.bg-black {
  background-color: #000 !important;
  color: #fff;
}
.bg-white {
  background-color: #fff !important;
  color: #4b4b4b;
}
.bg-transparent {
  background-color: transparent !important;
}
/* Text Colors */
.link {
  opacity: 0.7;
}
.link:hover {
  opacity: 1;
}
.text-dark {
  color: #212121 !important;
}
.text-color {
  color: #4b4b4b !important;
}
.text-primary {
  color: #45289c !important;
}
.text-primary-lighter {
  color: #eae0fb !important;
}
.text-complete {
  color: #0054af !important;
}
.text-complete-lighter {
  color: #d3eeff !important;
}
.text-success {
  color: #148e63 !important;
}
.text-success-lighter {
  color: #d6f7f0 !important;
}
.text-info {
  color: #3B4752 !important;
}
.text-info-lighter {
  color: #dbe6e8 !important;
}
.text-warning {
  color: #927400 !important;
}
.text-warning-lighter {
  color: #fffde1 !important;
}
.text-danger {
  color: #b82d23 !important;
}
.text-danger-lighter {
  color: #fde2da !important;
}
.text-black {
  color: #000 !important;
}
.text-white {
  color: #fff !important;
}
/* Text Aligngments
------------------------------------
*/
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
/* Labels
------------------------------------
*/
.label {
  padding: 0px 5px;
  font-size: 11px;
  line-height: 21px;
  text-shadow: none;
  background-color: #e0e0e0;
  font-weight: 600;
  color: #4b4b4b;
  border-radius: 3px;
  text-transform: uppercase;
  display: inline-block;
}
.label-primary {
  background-color: #7252D3;
  color: #fff;
}
.label-primary-lighter {
  background-color: #eae0fb;
  color: #4e37b6;
}
.label-success {
  background-color: #19AD79;
  color: #fff;
}
.label-success-lighter {
  background-color: #d6f7f0;
  color: #0d935b;
}
.label-warning {
  background-color: #FFd945;
  color: #4b4b4b;
}
.label-warning-lighter {
  background-color: #fffde1;
  color: #daab2d;
}
.label-important,
.label-danger {
  background-color: #D83C31;
  color: #fff;
}
.label-danger-lighter {
  background-color: #fde2da;
  color: #b91e1e;
}
.label-info {
  background-color: #0072EC;
  color: #fff;
}
.label-info-lighter {
  background-color: #dbe6e8;
  color: #2b3947;
}
.label-inverse {
  background-color: #004fbf;
  color: #fff;
}
.label-complete-lighter {
  background-color: #d3eeff;
  color: #004fbf;
}
.label-white {
  background-color: #fff;
  color: #4b4b4b;
}
/* Strokes
------------------------------------
*/
.stroke-primary {
  stroke: #7252D3 !important;
}
.stroke-complete {
  stroke: #0072EC !important;
}
.stroke-success {
  stroke: #19AD79 !important;
}
.stroke-info {
  stroke: #3B4752 !important;
}
.stroke-warning {
  stroke: #FFd945 !important;
}
.stroke-danger {
  stroke: #D83C31 !important;
}
/* Font Sizes
------------------------------------
tracking =a+b×e(c × z)

a, b and c are constants
a = -0.0223
b = 0.185
c = -0.1745
z = font size

*/
.fs-10 {
  font-size: 10px !important;
  letter-spacing: 0.0180093em;
  line-height: 15px;
}
.fs-11 {
  font-size: 10.5px !important;
  letter-spacing: 0.0128359em;
  line-height: 16px;
}
.fs-12 {
  font-size: 12px !important;
  letter-spacing: 0.00849077em;
  line-height: 18px;
}
.fs-13 {
  font-size: 13px !important;
  letter-spacing: 0.00484144em;
  line-height: 19px;
}
.fs-14 {
  font-size: 14px !important;
  letter-spacing: 0.00177646em;
  line-height: 22px;
}
.fs-15 {
  font-size: 15px !important;
  letter-spacing: -0.000797757em;
  line-height: 23px;
}
.fs-16 {
  font-size: 16px !important;
  letter-spacing: -0.00295978em;
  line-height: 24px;
}
/* Line-heights
------------------------------------
*/
.lh-normal {
  line-height: normal;
}
.lh-10 {
  line-height: 10px;
}
.lh-11 {
  line-height: 11px;
}
.lh-12 {
  line-height: 12px;
}
.lh-13 {
  line-height: 13px;
}
.lh-14 {
  line-height: 14px;
}
.lh-15 {
  line-height: 15px;
}
.lh-16 {
  line-height: 16px;
}
/* Font Faces
------------------------------------
*/
.font-arial {
  font-family: Arial, sans-serif !important;
}
.font-montserrat {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}
.font-georgia {
  font-family: Georgia !important;
}
.font-heading {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.font-secondary {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
/* Wells
------------------------------------
*/
.well {
  background-color: #e0e0e0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  background-image: none;
}
.well.well-large {
  padding: 24px;
  width: auto;
}
.well.well-small {
  padding: 13px;
  width: auto;
}
.well.green {
  background-color: #0072EC;
  color: #fff;
  border: none;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.jumbotron {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.jumbotron p {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: inherit;
}
.jumbotron p.small {
  font-size: 85.714%;
}
/* Responsive Handlers : Typo
------------------------------------
*/
@media (max-width: 1400px) {
  body,
  p {
    font-size: 13px;
    line-height: 20px;
  }
  h1 {
    font-size: 33px;
    line-height: 44px;
    letter-spacing: -0.08px;
  }
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
    line-height: 35.88px;
  }
  h4 {
    font-size: 18px;
    line-height: 33.88px;
  }
  h5 {
    font-size: 16px;
    line-height: 25.88px;
  }
  small,
  .small {
    font-size: 89%;
    line-height: 17px;
  }
}
.alert > p, .alert > ul {
  margin-bottom: 0;
}
.table > tbody > tr > td, .table > tbody > tr > th {
  line-height: 1.42857143;
}
.table > tfoot > tr > td, .table > tfoot > tr > th {
  line-height: 1.42857143;
}
.table > thead > tr > td, .table > thead > tr > th {
  line-height: 1.42857143;
}
/* For Windows : Fixes
------------------------------------
*/
.windows .small-text, .windows small, .windows .small {
  -webkit-text-stroke: 0.028px;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-separator {
  display: block;
  text-align: center;
  margin: 1.5rem 0;
  width: 100%;
  background: linear-gradient(to top, transparent 0%, transparent calc(50% - 1px), var(--color-contrast-low) calc(50% - 1px), var(--color-contrast-low) calc(50% + 1px), transparent calc(50% + 1px), transparent 100%);
}
.text-separator::before {
  background: #fff;
  content: attr(data-text);
  padding: 0 1rem;
  text-transform: uppercase;
}/*!
* direction.scss
*/
/* Skeleton Variables */
/*
[ Input ]
*/
:host {
  --wj-input-font-family: Inter UI, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --wj-input-background-color: #fff;
  --wj-input-color: #212121;
  --wj-input-color-invalid: #b91e1e;
  --wj-input-border-color: rgba(33, 33, 33, 0.14);
  --wj-input-border-color-focus: #7252D3;
  --wj-input-border-radius: 2px;
  --wj-input-margin-bottom: .5rem;
  --wj-input-line-height: 20px;
  width: 100%;
  margin-bottom: var(--wj-input-margin-bottom);
  display: block;
}
:host .error-message {
  display: none;
  position: absolute;
  width: auto;
  max-width: 90%;
  border-radius: 50px;
  background: black;
  padding: 0.25rem 0.5rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  line-height: normal;
}
:host input {
  background-color: var(--wj-input-background-color);
  border: 1px solid var(--wj-input-border-color);
  font-family: var(--wjinput-font-family);
  color: var(--wj-input-color);
  border-top-color: rgba(33, 33, 33, 0.21);
  appearance: none;
  outline: 0;
  padding: 6px 8px;
  line-height: var(--wj-input-line-height);
  font-size: 14px;
  font-weight: normal;
  vertical-align: middle;
  min-height: 32px;
}
:host .native-input {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
:host .native-input .input-wrapper {
  width: 100%;
}
:host .native-input.default {
  background-color: var(--wj-input-background-color);
  font-family: var(--wj-input-font-family);
  position: relative;
  border-radius: var(--wj-input-border-radius);
  border: 1px solid var(--wj-input-border-color);
  border-top-color: rgba(8, 8, 8, 0.14);
  padding-inline: 9px;
  padding-top: 5px;
  padding-bottom: 4px;
  transition: background-color 0.2s ease;
  cursor: text;
}
:host .native-input.default.focused {
  border: 1px solid var(--wj-input-border-color-focus) !important;
}
:host .native-input.default.focused label {
  opacity: 0.67;
  font-size: 12px;
  letter-spacing: normal;
}
:host .native-input.default input {
  border: none;
  height: 25px;
  min-height: 25px;
  padding: 0;
  margin-top: -4px;
  background: none;
  box-shadow: none;
  width: 100%;
}
:host .native-input.default label {
  margin: 0;
  display: block;
  opacity: 1;
  cursor: text;
  transition: opacity 0.2s ease;
  line-height: var(--wj-input-line-height);
}
:host .native-input.default label.fade {
  opacity: 0.5;
  font-size: 12px;
  letter-spacing: normal;
}
:host([required]) .input-wrapper::after {
  color: #D83C31;
  content: "*";
  font-family: -apple-system, BlinkMacSystemFont, "Inter UI", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 2px;
}
:host([invalid]) .error-message {
  display: block;
}
:host([invalid]) label {
  opacity: 1 !important;
  color: var(--wj-input-color-invalid) !important;
  animation-name: shake;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}
slot[name=start], slot[name=end] {
  display: flex;
  align-items: center;
  position: relative;
}
slot[name=start] {
  margin-inline: 0 10px;
}
slot[name=end] {
  margin-inline: 10px 0;
}
::slotted([slot=start]) {
  padding-inline: 0 10px;
}
::slotted([slot=start]):after {
  border-right: 1px solid rgba(0, 0, 0, 0.16);
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
::slotted([slot=end]) {
  padding-inline: 10px 0;
}
::slotted([slot=end]):after {
  border-right: 1px solid rgba(0, 0, 0, 0.16);
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes shake {
  8%, 41% {
    transform: translateX(-4px);
  }
  25%, 58% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
  92% {
    transform: translateX(2px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}