/*
[ WJ Tab ]
*/

:host {
  display: block;
  position: relative;
  .native-tab {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-family: var(--wje-tab-font-family);
    font-size: var(--wje-tab-font-size);
    letter-spacing: var(--wje-tab-letter-spacing);
    text-transform: var(--wje-tab-text-transfrom);
    font-weight: var(--wje-tab-font-weight);
    text-decoration: none;
    padding-inline: var(--wje-tab-padding-inline);
    padding-top: var(--wje-tab-padding-top);
    padding-bottom: var(--wje-tab-padding-bottom);
    border-radius: var(--wje-tab-border-radius);
    color: var(--wje-color);
    line-height: var(--wje-tab-line-height);
    & > svg {
      inline-size: 1.5em;
      pointer-events: none;
    }

    &:hover {
      background: var(--wje-tab-color-hover);
      &:after {
        display: block;
      }
    }

    &:after {
      content: " ";
      display: none;
      block-size: 0.15rem;
      writing-mode: var(--wje-tab-writing-mode);
      background: var(--wje-tab-color-active);
      position: absolute;
      bottom: var(--wje-tab-bottom);
      left: var(--wje-tab-start);
      right: var(--wje-tab-end);
      top: var(--wje-tab-top);
    }
  }
}

:host([disabled]) a {
  opacity: 0.5;
  cursor: not-allowed;
  background: inherit;
  &:after {
    display: none;
  }
}

:host([active]) a:after {
  display: block;
}