/*
[ WJ Tab ]
*/

:host(:not([slot="more"])) {
    display: block;
    position: relative;
    .native-tab {
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-family: var(--wje-tab-font-family);
        font-size: var(--wje-tab-font-size);
        letter-spacing: var(--wje-tab-letter-spacing);
        text-transform: var(--wje-tab-text-transfrom);
        font-weight: var(--wje-tab-font-weight);
        text-decoration: none;
        padding-inline: var(--wje-tab-padding-inline);
        padding-top: var(--wje-tab-padding-top);
        padding-bottom: var(--wje-tab-padding-bottom);
        border-radius: var(--wje-tab-border-radius);
        color: var(--wje-color);
        line-height: var(--wje-tab-line-height);
        & > svg {
            inline-size: 1.5em;
            pointer-events: none;
        }

        &:hover {
            background: var(--wje-tab-color-hover);
            &:after {
                display: block;
            }
        }

        &:after {
            content: ' ';
            display: none;
            block-size: 0.15rem;
            writing-mode: var(--wje-tab-writing-mode);
            background: var(--wje-tab-color-active);
            position: absolute;
            bottom: var(--wje-tab-bottom);
            left: var(--wje-tab-start);
            right: var(--wje-tab-end);
            top: var(--wje-tab-top);
        }
    }
}

:host([slot="more"]) {
    --wje-menu-item-safe-triangle-cursor-x: 0;
    --wje-menu-item-safe-triangle-cursor-y: 0;
    --wje-menu-item-safe-triangle-submenu-start-x: 0;
    --wje-menu-item-safe-triangle-submenu-start-y: 0;
    --wje-menu-item-safe-triangle-submenu-end-x: 0;
    --wje-menu-item-safe-triangle-submenu-end-y: 0;

    display: block;
    .native-tab {
        background: var(--wje-menu-item-background);
        position: relative;
        display: block;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        color: var(--wje-menu-item-color);
        padding-top: var(--wje-menu-item-padding-top);
        padding-bottom: var(--wje-menu-item-padding-bottom);
        padding-inline: var(--wje-spacing-large);
        transition: var(--wje-transition-fast) fill;
        user-select: none;
        white-space: nowrap;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: var(--wje-menu-item-color-hover);
            background: var(--wje-menu-item-background-hover);
        }

        &:focus {
            color: var(--wje-menu-item-color-focus);
            background: var(--wje-menu-item-background-focus);
        }

        &:active {
            color: var(--wje-menu-item-color-active);
            background: var(--wje-menu-item-background-active);
        }
    }
}

:host([disabled]) a {
    opacity: 0.5;
    cursor: not-allowed;
    background: inherit;
    &:after {
        display: none;
    }
}

:host(:not([slot="more"]).active) a:after {
    display: block;
}
