/*
[ WJ Toolbar ]
*/

:host {
    width: 100%;
    height: var(--wje-toolbar-height);
}

.native-toolbar {
    background-color: var(--wje-toolbar-background);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid var(--wje-toolbar-border-color);
    padding-inline: var(--wje-toolbar-padding-inline);
    padding-block: var(--wje-toolbar-padding-block);
    box-shadow: var(--wje-toolbar-shadow);
}

::slotted {
    grid-column: span 4;
}

::slotted([slot='start']) {
    margin-right: auto;
}

:host([sticky]) {
    position: sticky;
    top: var(--wje-toolbar-top);
    z-index: 99;
}
