

* {margin: 0; padding: 0;}

:host {
    --wje-orgchart-height-line: 10px;
    --wje-orgchart-border-radius: var(--wje-border-radius-large);

    position: relative;
    .native-orgchart {
        padding-top: var(--wje-orgchart-height-line);
        display: flex;
        /*column-gap: .5rem;*/
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 1px solid var(--wje-border-color);
        width: 0;
        height: var(--wje-orgchart-height-line);
    }
}

