@import "../../scss/themes/net-basic/important.scss";

/*
[ Icon Picker ]
*/

:host {
  --wj-color-picker-value: #ff0000;
  --wj-color-picker-radius: .25rem;
  --wj-color-picker-icon-size: 2rem;
  padding: 0 1rem;
}

.anchor {
  width: 1rem;
  height: 1rem;
  background: var(--wj-color-picker-value);
}

.picker {
  width: 320px;
  height: 320px;
  box-shadow: 0 0 5px rgba(0,0,0,.05), 0 5px 20px rgba(0,0,0,.1);
  border-radius: var(--wj-color-picker-radius);
  overflow: auto;
  padding: 1rem;
}

.icon-items {
  --icon-min-width: 2rem;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fit,minmax(var(--icon-min-width),1fr));
}

.icon-item {
  box-sizing: border-box;
  display: flex;
  //flex-direction: column;
  align-items: center;
  justify-content: center;
  //border-radius: .25rem;
  text-align: center;
  color: inherit;
  padding: 0 .25rem;
  //min-height: var(--icon-min-width);
  //min-width: var(--icon-min-width);
  text-decoration: none;
  //border: 1px solid var(--color-border-light);
  //background: var(--color-bg);
  //transition: .3s border-color;
  //position: relative;
  &:hover {
    border-radius: .25rem;
    background: var(--wj-border-color);
  }
}

icon-item svg {
  width: var(--wj-color-picker-icon-size);
  height: var(--wj-color-picker-icon-size);
}

wj-input {
  --wj-input-border-radius: 4px;
  --wj-input-margin-bottom: 0;
}

wj-infinite-scroll {
  margin-top: 1rem;
}

wj-select {
  --wj-select-border-width: 0 0 1px 0 !important;
  --wj-select-border-radius: 0 !important;
  margin-bottom: 1rem;
}

hr {
  background: red;
  height: 1px;
  border: 0 none;
}