/*
[ Wj Menu ]
*/

:host {
  /*--wje-menu-background: var(--wje-background);*/
  /*--wje-menu-border-width: 1px;*/
  /*--wje-menu-border-style: solid;*/
  /*--wje-menu-border-color: var(--wje-border-color);*/
  /*--wje-menu-border-radius: var(--wje-border-radius-small);*/
  /*--wje-menu-padding-top: .5rem;*/
  /*--wje-menu-padding-bottom: .5rem;*/
  /*--wje-menu-padding-inline: 0;*/
  /*--wje-menu-margin-top: 0;*/
  /*--wje-menu-margin-bottom: 0;*/
  /*--wje-menu-margin-inline: 0;*/
  /*--wje-menu-collapse-width: 65px;*/
  /*--wje-menu-z-index: 8;*/
}

:host {
  display: none;
  background: var(--wje-menu-background);
  position: relative;
  border-width: var(--wje-menu-border-width);
  border-style: var(--wje-menu-border-style);
  border-color: var(--wje-menu-border-color);
  z-index: var(--wje-menu-z-index, 8);

  border-radius: var(--wje-menu-border-radius);

  padding-top: var(--wje-menu-padding-top);
  padding-bottom: var(--wje-menu-padding-bottom);
  padding-inline: var(--wje-menu-padding-inline);
  margin-top: var(--wje-menu-margin-top);
  margin-bottom: var(--wje-menu-margin-bottom);
  margin-inline: var(--wje-menu-margin-inline);
  overflow: auto;
  overscroll-behavior: none;
  .native-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    ::slotted(wje-button) {
      margin: 0;
    }
  }
}

:host(.wje-menu-collapse) {
  width: var(--wje-menu-collapse-width);
}

:host([variant=context]) {
  display: block !important;
  margin-left: var(--wje-menu-submenu-offset);
}

:host([variant=megamenu]) .native-menu {
  flex-direction: row;
  align-items: end;
  flex-wrap: nowrap;
  .check-icon {
    display: none;
  }
}

:host([active]) {
  display: flex  !important;
}