/*
[ WJ Card - Subtitle ]
*/

:host {
  transition: opacity 0.3s ease;
  font-family: var(--wje-card-subtitle-font-family);
  font-size: var(--wje-card-subtitle-font-size);
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.06em;
  font-weight: 500;
  margin: 0;
  padding: var(--wje-card-subtitle-padding);
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  filter: alpha(opacity=40);
}