/*
[ WJ Header ]
*/

:host {
    display: block;
    height: var(--wje-header-height);
    width: 100%;
    background: var(--wje-header-background);
    border-width: var(--wje-header-border-width);
    border-style: var(--wje-header-border-style);
    border-color: var(--wje-header-border-color);
    .native-header {
        display: flex;
        padding-inline: 1rem;
    }
}

:host([sticky]) {
    position: sticky;
    top: var(--wje-header-top);
    z-index: 999;
}
