@use '../../scss/var.scss' as var;
@use './breakpoints.scss' as breakpoints;
@use './grid.scss' as grid;
@use 'sass:map';

/*
[ WJ Col ]
*/

:host {
    display: block;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--wje-gutter-x) * 0.5);
    padding-left: calc(var(--wje-gutter-x) * 0.5);
    margin-top: var(--wje-gutter-y);
}

@if var.$enable-grid-classes {
    @include grid.make-grid-columns();
}

// Order

@each $breakpoint in map.keys(var.$grid-breakpoints) {
    $infix: breakpoints.breakpoint-infix($breakpoint, var.$grid-breakpoints);
    //@debug "divider offset: #{$infix}";
    @each $key, $utility in var.$utilities {
        @include grid.generate-utility($utility, $infix);
    }
}
