/*
[ WJ List ]
*/

:host {
  --wje-list-inset-padding: 1rem;
  --wje-list-border-radius: 8px;
  --wje-list-background: var(--wje-background);

  margin: 0;
  padding: 0;

  display: block;

  contain: content;
  list-style-type: none;
}

:host(.wje-inset) {
  background: var(--wje-list-background);
  transform: translateZ(0);
  overflow: hidden;
  padding: var(--wje-list-inset-padding);
  border-radius: var(--wje-list-border-radius);
}

:host(.wje-lines-none) ::slotted(wje-item) {
  --wje-border-width: 0 !important;
}